<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd

     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

  <bean id="placeholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:application.properties</value>
        <value>classpath:jdbc.properties</value>
      </list>
    </property>
  </bean>

  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${dataSource.driverClassName}"/>
    <property name="url" value="${dataSource.url}"/>
    <property name="username" value="${dataSource.username}"/>
    <property name="password" value="${dataSource.password}"/>
    <property name="initialSize" value="${dataSource.initialSize}"/>
    <property name="maxActive" value="${dataSource.maxActive}"/>
    <property name="maxIdle" value="${dataSource.maxIdle}"/>
    <property name="minIdle" value="${dataSource.minIdle}"/>
    <property name="maxWait" value="${dataSource.maxWait}"/>
    <property name="minEvictableIdleTimeMillis" value="${dataSource.minEvictableIdleTimeMillis}"/>
    <property name="timeBetweenEvictionRunsMillis" value="${dataSource.timeBetweenEvictionRunsMillis}"/>
    <property name="numTestsPerEvictionRun" value="${dataSource.numTestsPerEvictionRun}"/>
  </bean>

  <!-- transaction manager, use JtaTransactionManager for global tx -->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <!-- enable component scanning (beware that this does not enable mapper scanning!) -->
  <context:component-scan base-package="com.newstar.hbms" />

  <!-- enable autowire -->
  <context:annotation-config />

  <!-- enable transaction demarcation with annotations -->
  <tx:annotation-driven />

  <!-- define the SqlSessionFactory -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mapperLocations">
      <list>
        <value>classpath:com/newstar/hbms/common/dao/*.xml</value>
        <value>classpath:com/newstar/hbms/basedata/dao/*.xml</value>
        <value>classpath:com/newstar/hbms/candidate/dao/*.xml</value>
        <value>classpath:com/newstar/hbms/candidate/dao/*.xml</value>
        <value>classpath:com/newstar/hbms/customer/dao/*.xml</value>
        <value>classpath:com/newstar/hbms/system/dao/*.xml</value>
      </list>
    </property>
    <property name="plugins">
      <list>
        <bean class="com.newstar.hbms.support.paging.PagingPlugin"/>
        <bean class="com.newstar.hbms.support.SelectKeyFromSequenceInterceptor">
          <property name="sequenceService" ref="sequenceService"/>
        </bean>
      </list>
    </property>
  </bean>

  <bean id="attachmentDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.common.dao.AttachmentDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="treeNodeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.basedata.dao.TreeNodeDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="candidateDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.CandidateDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="resumeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.ResumeDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="customerDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.customer.dao.CustomerDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="contactDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.customer.dao.ContactDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="positionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.customer.dao.PositionDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="projectDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.project.dao.ProjectDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.system.dao.UserDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="candidateIndexTaskDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.CandidateIndexTaskDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="workExperienceDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.WorkExperienceDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="educationExperienceDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.EducationExperienceDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="languageAbilityDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.LanguageAbilityDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="certificateDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.CertificateDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="projectExperienceDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    <property name="mapperInterface" value="com.newstar.hbms.candidate.dao.ProjectExperienceDao"/>
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <bean id="treeService" class="com.newstar.hbms.basedata.service.impl.TreeServiceImpl">
    <property name="treeNodeDao" ref="treeNodeDao"/>
  </bean>

  <bean id="baseDataService" class="com.newstar.hbms.basedata.service.impl.BaseDataServiceImpl">
    <property name="treeService" ref="treeService"/>
  </bean>

  <bean id="sequenceService" class="com.newstar.hbms.common.service.impl.DbSequenceServiceImpl">
    <property name="sequenceDao">
      <bean id="sequenceDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.newstar.hbms.common.dao.SequenceDao"/>
        <property name="sqlSessionFactory">
          <bean class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSource"/>
            <property name="mapperLocations">
              <list>
                <value>classpath:com/newstar/hbms/common/dao/SequenceDaoMapper.xml</value>
              </list>
            </property>
          </bean>
        </property>
      </bean>
    </property>
    <property name="shardSize" value="1"/>
  </bean>

  <bean id="fileService" class="com.newstar.hbms.common.service.impl.FileServiceImpl">
    <property name="prefix" value="${fileSaveRootPath}"/>
  </bean>


  <bean id="candidateService" class="com.newstar.hbms.candidate.service.impl.CandidateServiceImpl">
    <property name="candidateDao" ref="candidateDao"/>
    <property name="attachmentDao" ref="attachmentDao"/>
    <property name="workExperienceDao" ref="workExperienceDao"/>
    <property name="educationExperienceDao" ref="educationExperienceDao"/>
    <property name="languageAbilityDao" ref="languageAbilityDao"/>
    <property name="certificateDao" ref="certificateDao"/>
    <property name="projectExperienceDao" ref="projectExperienceDao"/>
    <property name="resumeDao" ref="resumeDao"/>
    <property name="candidateIndexTaskDao" ref="candidateIndexTaskDao"/>
  </bean>

<!--  <bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
    <constructor-arg index="0" value="${solr.url}"/>
  </bean>-->

<!--  <bean class="com.newstar.hbms.candidateate.service.ResumeIndexScheduler" init-method="init">
    <property name="httpServer" ref="httpSolrServer"/>
    <property name="periodMillisecond" value="${indexScheduler.periodMillisecond}"/>
    <property name="candidateIndexTaskDao" ref="candidateIndexTaskDao"/>
    <property name="candidateService" ref="candidateService"/>
  </bean>-->

  <bean id="customerService" class="com.newstar.hbms.customer.service.impl.CustomerServiceImpl">
    <property name="customerDao" ref="customerDao"/>
  </bean>

  <bean id="contactService" class="com.newstar.hbms.customer.service.impl.ContactServiceImpl">
    <property name="contactDao" ref="contactDao"/>
  </bean>

  <bean id="positionService" class="com.newstar.hbms.customer.service.impl.PositionServiceImpl">
    <property name="positionDao" ref="positionDao"/>
  </bean>

  <bean id="projectService" class="com.newstar.hbms.project.service.impl.ProjectServiceImpl">
    <property name="projectDao" ref="projectDao"/>
  </bean>

  <bean id="userService" class="com.newstar.hbms.system.service.impl.UserServiceImpl">
    <property name="userDao" ref="userDao"/>
  </bean>

  <!--web-->
  <bean id="controllerClassNameHandlerMapping" class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping">
    <property name="detectHandlersInAncestorContexts" value="true"/>
    <property name="caseSensitive" value="true"/>
  </bean>

  <bean id="exceptionResolver" class="com.newstar.hbms.mvc.LoggerHandlerExceptionResolver"/>

  <bean id="dateEditor" class="com.newstar.hbms.utils.DateEditor">
      <property name="datePattern" value="${datePattern}"/>
  </bean>


</beans>
