<h3>项目&nbsp;<strong><span class="font-size:80">$!project.name</span></strong>&nbsp;详情</h3>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#项目详情" aria-controls="home" role="tab" data-toggle="tab">项目详情</a></li>
        <li role="presentation" class="active"><a href="#项目候选人" aria-controls="profile" role="tab" data-toggle="tab">项目候选人</a></li>
        <li role="presentation"><a href="#发票" aria-controls="profile" role="tab" data-toggle="tab">发票</a></li>
        <li role="presentation"><a href="#提醒" aria-controls="messages" role="tab" data-toggle="tab">提醒</a></li>
        <li role="presentation"><a href="#邮件" aria-controls="settings" role="tab" data-toggle="tab">邮件</a></li>
        <li role="presentation"><a href="#批注" aria-controls="settings" role="tab" data-toggle="tab">批注</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="项目详情">
            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">编码：</div>
              <div class="col-sm-5">
                $!project.code
              </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">名称：</div>
              <div class="col-sm-5">
                $!project.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">所属公司：</div>
              <div class="col-sm-5">
                $!project.company.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">职位：</div>
              <div class="col-sm-5">
                $!project.position.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">客户联系人：</div>
              <div class="col-sm-5">
                $!project.contact.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">重要程度：</div>
              <div class="col-sm-5">
                $!project.importantLevel.label
              </div>
            </div>



            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">起止时间：</div>
              <div class="col-sm-5">
                  $!DateUtils.dateToString($!project.startDate, 'yyyy-mm-dd')
                  &nbsp;&nbsp;--&nbsp;&nbsp;
                  $!DateUtils.dateToString($!project.endDate, 'yyyy-mm-dd')
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">项目经理：</div>
              <div class="col-sm-5">
                $!project.manager.realName
              </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">顾问：</div>
                <div class="col-sm-5">
                  #foreach($projectConsultant in $project.consultants)
                    $projectConsultant.consultant.realName &nbsp;
                  #end
                </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">助理：</div>
              <div class="col-sm-5">
                #foreach($projectAssistant in $project.assistants)
                    $projectAssistant.assistant.realName &nbsp;
                #end
            </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">状态：</div>
              <div class="col-sm-5">
                $!project.status.label
              </div>
            </div>


            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">备注：</div>
              <div class="col-sm-5">
                  $!project.remark
              </div>
            </div>


            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">共享：</div>
              <div class="col-sm-5">
                <label>
                  <span class="lbl">#if($project.share) 是 #else 否 #end </span>
                </label>
              </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="项目候选人">
            <div class="row">
              <button id="addNewCandidate" class="btn btn-primary no-radius" type="button">
                <i class="ace-icon fa fa-plus"></i>新增简历
              </button>
              <button id="selectExistedCandidate" class="btn btn-primary no-radius" type="button">
                <i class="ace-icon fa fa-search"></i>从人才库搜索
              </button>
              <button id="importBatchCandidate" class="btn btn-primary no-radius" type="button">
                <i class="ace-icon fa fa-search"></i>批量导入简历
              </button>
            </div>
            <div class="row">
                <div id="projectCandidateListDiv" style="left: 5px;right: 0">
                    <table id="projectCandidateList"></table>
                    <div id="projectCandidateListPager"></div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="发票">
        </div>
        <div role="tabpanel" class="tab-pane" id="提醒">
        </div>
        <div role="tabpanel" class="tab-pane" id="邮件">
        </div>
        <div role="tabpanel" class="tab-pane" id="批注">
        </div>
    </div>
</div>

<script language="JavaScript">
    $("#projectCandidateList").jqGrid({
        url: '/project/findProjectCandidatesByBean.do',
        mtype: "POST",
        postData: {projectId : $project.id},
        datatype: "json",
        colNames: ['姓名', '公司', '城市',  '职位', '年薪', '年龄', '状态', "最近联系", "操作"],
        colModel: [
            {name: 'candidate.name', formatter: function(cellvalue, options, rowObject){
                return "<a href='/candidate/detail.do?id=" + rowObject.id + "' target='_blank'>" + cellvalue + "</a>";
            }},
            {name: 'candidate.company.label'},
            {name: 'candidate.position.label'},
            {name: 'candidate.city.label'},
            {name: 'candidate.currentAnnualSalary'},
            {name: 'candidate.birthday'},
            {name: 'status.label'},
            {name: 'lastContact'},
            {name: 'isKey', formatter: function(cellvalue, options, rowObject){
                return cellvalue ? "<i class='ace-icon glyphicon glyphicon-ok' style='color: green'></i>" : "<i class='ace-icon glyphicon glyphicon-remove' style='color: red'></i>";

            }}
        ],
        multiselect: true,
        rowNum: 10,
        rowList: [10, 30, 50, 100],
        pager: '#projectCandidateListPager',
        forceFit:true,
        shrinkToFit: true
    });
    function resizeCandidateList() {
        $("#projectCandidateList").jqGrid('setGridWidth', $(window).width() - $("#projectCandidateListDiv").position().left - 100);
        $("#projectCandidateList").jqGrid('setGridHeight', $(window).height() - $("#projectCandidateListDiv").position().top - 260);
    }
    resizeCandidateList();
    $(window).on('resize', function () {
        resizeCandidateList();
    });

    $("#addNewCandidate").on(ace.click_event, function() {
        window.open('/candidate/editView.do?projectId='+$project.id, '_blank', 'width=1150,height=680,left=1150,top=0,scrollbars=yes');
    });

    function receiveSelectedCandidate(candidates) {
        var param = {};
        for (var i = 0 ;i < candidates.length; i++) {
            param["candidates[" + i + "].projectId"] = $project.id;
            param["candidates[" + i + "].candidateId"] = candidates[i];
        }
        var result = false;
        $.ajax({
            type: "POST",
            url: "/project/addCandidates.do",
            data: param,
            dataType: "json",
            timeout: 3000,
            async: false,
            success: function (data, textStatus, jqXHR) {
                if (data && data.success) {
                    $("#projectCandidateList").jqGrid().trigger("reloadGrid");
                }
                result = true;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var tipHtml = "<h5 class='red'><i class=\"icon-warning-sign red bigger-130\"></i>加载失败</h5>";
                bootbox.dialog({
                    message: tipHtml,
                    buttons: {
                        "danger": {
                            "label": "关闭",
                            "className": "btn-sm btn-danger"
                        }
                    }
                });
            }
        });
        return result;
    }

    $("#selectExistedCandidate").on(ace.click_event, function() {
        window.open('/candidate/select.do?projectId='+$project.id, '_blank', 'width=1150,height=680,left=1150,top=0,scrollbars=yes');
    });

</script>
