<h3>项目&nbsp;<strong><span class="font-size:80">$!project.name</span></strong>&nbsp;详情</h3>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#项目详情" aria-controls="home" role="tab" data-toggle="tab">项目详情</a></li>
        <li role="presentation" class="active"><a href="#项目候选人" aria-controls="profile" role="tab" data-toggle="tab">项目候选人</a></li>
        <li role="presentation"><a href="#发票" aria-controls="profile" role="tab" data-toggle="tab">发票</a></li>
        <li role="presentation"><a href="#提醒" aria-controls="messages" role="tab" data-toggle="tab">提醒</a></li>
        <li role="presentation"><a href="#邮件" aria-controls="settings" role="tab" data-toggle="tab">邮件</a></li>
        <li role="presentation"><a href="#批注" aria-controls="settings" role="tab" data-toggle="tab">批注</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="项目详情">
            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">编码：</div>
              <div class="col-sm-5">
                $!project.code
              </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">名称：</div>
              <div class="col-sm-5">
                $!project.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">所属公司：</div>
              <div class="col-sm-5">
                $!project.company.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">职位：</div>
              <div class="col-sm-5">
                $!project.position.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">客户联系人：</div>
              <div class="col-sm-5">
                $!project.contact.name
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">重要程度：</div>
              <div class="col-sm-5">
                $!project.importantLevel.label
              </div>
            </div>



            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">起止时间：</div>
              <div class="col-sm-5">
                  $!DateUtils.dateToString($!project.startDate, 'yyyy-mm-dd')
                  &nbsp;&nbsp;--&nbsp;&nbsp;
                  $!DateUtils.dateToString($!project.endDate, 'yyyy-mm-dd')
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">项目经理：</div>
              <div class="col-sm-5">
                $!project.manager.realName
              </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">顾问：</div>
                <div class="col-sm-5">
                  #foreach($projectConsultant in $project.consultants)
                    $projectConsultant.consultant.realName &nbsp;
                  #end
                </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">助理：</div>
              <div class="col-sm-5">
                #foreach($projectAssistant in $project.assistants)
                    $projectAssistant.assistant.realName &nbsp;
                #end
            </div>
            </div>

            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">状态：</div>
              <div class="col-sm-5">
                $!project.status.label
              </div>
            </div>


            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">备注：</div>
              <div class="col-sm-5">
                  $!project.remark
              </div>
            </div>


            <div class="row">
              <div class="col-sm-1" style="text-align: right;font-weight: bold">共享：</div>
              <div class="col-sm-5">
                <label>
                  <span class="lbl">#if($project.share) 是 #else 否 #end </span>
                </label>
              </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="项目候选人">
            <div class="row">
              <button id="candidateSearch" class="btn btn-primary no-radius" type="button">
                <i class="ace-icon fa fa-plus"></i>新增简历
              </button>
              <button id="candidateSearch" class="btn btn-primary no-radius" type="button">
                <i class="ace-icon fa fa-search"></i>从人才库搜索
              </button>
              <button id="candidateSearch" class="btn btn-primary no-radius" type="button">
                <i class="ace-icon fa fa-search"></i>批量导入简历
              </button>
            </div>
            <div class="row">
                <div id="projectCandidateListDiv" style="width: 100%;left: 0;right: 0">
                    <table id="projectCandidateList"></table>
                    <div id="projectCandidateListPager"></div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="发票">
        </div>
        <div role="tabpanel" class="tab-pane" id="提醒">
        </div>
        <div role="tabpanel" class="tab-pane" id="邮件">
        </div>
        <div role="tabpanel" class="tab-pane" id="批注">
        </div>
    </div>
</div>

<script language="JavaScript">
    $("#candidateList").jqGrid({
        url: '/candidate/findByBean.do',
        mtype: "POST",
        datatype: "json",
        colNames: ['姓名', '公司',  '职位', '年薪', '年龄', '标签', '状态', "最近联系", "操作"],
        colModel: [
            {name: 'name', formatter: function(cellvalue, options, rowObject){
                return "<a href='/candidate/detail.do?id=" + rowObject.id + "' target='_blank'>" + cellvalue + "</a>";
            }},
            {name: 'company.label'},
            {name: 'position.label'},
            {name: 'city.label'},
            {name: 'currentAnnualSalary'},
            {name: 'birthday'},
            {name: 'mobile'},
            {name: 'tag'},
            {name: 'status.label'},
            {name: 'lastContact'},
            {name: 'isKey', formatter: function(cellvalue, options, rowObject){
                return cellvalue ? "<i class='ace-icon glyphicon glyphicon-ok' style='color: green'></i>" : "<i class='ace-icon glyphicon glyphicon-remove' style='color: red'></i>";

            }}
        ],
        multiselect: true,
        rowNum: 10,
        rowList: [10, 30, 50, 100],
        pager: '#candidateListPager',
        forceFit:true,
        shrinkToFit: true
    });
    function resizeCandidateList() {
        $("#candidateList").jqGrid('setGridWidth', $(window).width() - $("#candidateListDiv").position().left - 15);
        $("#candidateList").jqGrid('setGridHeight', $(window).height() - $("#candidateListDiv").position().top - 100);
    }
    resizeCandidateList();
    $(window).on('resize', function () {
        resizeCandidateList();
    });
</script>
