body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.mask-layer
{
    display:block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1010;
    -moz-opacity: 0.5;
    opacity:.10;
    filter: alpha(opacity=50);
}

.nav-bar{
    background: url(/css/ui/easyui/icons/ybutton.png) no-repeat 100% 0;
    color: #666;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px 10px 20px;
    margin-left: -17px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}