<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.companyname.hbms.resume.dao.OriginalResumeDao">



  <insert id="insert" parameterType="com.companyname.hbms.resume.domain.OriginalResume">
    insert into OriginalResume(resumeId, name, keyword, attachmentName, attachmentPath, yn)
    values (
    #{resumeId},
    #{name, jdbcType=VARCHAR},
    #{keyword,jdbcType=VARCHAR},
    #{attachmentName,jdbcType=VARCHAR},
    #{attachmentPath,jdbcType=VARCHAR},
    1)
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select last_insert_id();
    </selectKey>
  </insert>

  <update id="update" parameterType="com.companyname.hbms.resume.domain.OriginalResume">
    update OriginalResume set
      name = #{name, jdbcType=VARCHAR},
      keyword = #{keyword, jdbcType=VARCHAR},
      attachmentName = #{attachmentName},
      attachmentPath = #{attachmentPath}
    where
      id = #{id}
  </update>

  <delete id="delete" parameterType="java.lang.Long">
    update OriginalResume set yn = 0 where id = #{id}
  </delete>
  
  <select id="findByBean"
          parameterType="com.companyname.hbms.resume.domain.OriginalResume"
          resultType="com.companyname.hbms.resume.domain.OriginalResume">
    select * from OriginalResume
    where 1 = 1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="resumeId != null">
      and resumeId = #{resumeId}
    </if>
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="keyword != null">
      and keyword = #{name}
    </if>
    <if test="yn != null">
      and yn = #{yn}
    </if>
  </select>

</mapper>