<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.companyname.hbms.resume.dao.ResumeDao">



  <insert id="insert" parameterType="com.companyname.hbms.resume.domain.Resume">
    insert into Resume(name, languageId, yn, createTime, updateTime)
    values (#{name, jdbcType=VARCHAR}, #{languageId,jdbcType=INTEGER}, 1, now(), now())
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select last_insert_id();
    </selectKey>
  </insert>

  <update id="update" parameterType="com.companyname.hbms.resume.domain.Resume">
    update Resume set
      name = #{name},
      languageId = #{languageId},
      updateTime = now()
    where
      id = #{id}
  </update>

  <delete id="disable" parameterType="java.lang.Long">
    update Resume set yn = 0 where id = #{id}
  </delete>

  <delete id="enable" parameterType="java.lang.Long">
    update Resume set yn = 1 where id = #{id}
  </delete>
  
  <select id="findByBean"
          parameterType="com.companyname.hbms.resume.domain.Resume"
          resultType="com.companyname.hbms.resume.domain.Resume">
    select * from Resume where 1=1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="languageId != null">
      and languageId = #{languageId}
    </if>
    <if test="yn != null">
      and yn = #{yn}
    </if>
  </select>

</mapper>