<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.project.dao.ProjectDao">

  <resultMap id="Customer" type="com.newstar.hbms.customer.domain.Company">
    <id column="id" property="id" />
    <!--<result column="name" property="name"/>-->
  </resultMap>
  <resultMap id="Contact" type="com.newstar.hbms.customer.domain.Contact">
    <id column="id" property="id" />
    <!--<result column="name" property="name"/>-->
  </resultMap>
  <resultMap id="Position" type="com.newstar.hbms.customer.domain.Position">
    <id column="id" property="id" />
    <!--<result column="name" property="name"/>-->
  </resultMap>
  <resultMap id="User" type="com.newstar.hbms.system.domain.User">
    <id column="id" property="id" />
    <!--<result column="name" property="name"/>-->
  </resultMap>

  <resultMap id="Project" type="com.newstar.hbms.project.domain.Project">
    <association property="company" columnPrefix="CUS_" resultMap="Customer"/>
    <association property="contact" columnPrefix="CONTACT_" resultMap="Contact"/>
    <association property="position" columnPrefix="POS_" resultMap="Position"/>
    <association property="consultant" columnPrefix="CONSULTANT_" resultMap="User"/>
    <association property="assistant" columnPrefix="ASSISTANT_" resultMap="User"/>
    <association property="manager" columnPrefix="MANAGER_" resultMap="User"/>
  </resultMap>

  <sql id="selectProject">
        select
      prj.*,
      cus.id as CUS_id, cus.name CUS_name,
      pos.id as POS_id, pos.name as POS_name,
      contact.id as CONTACT_id, contact.name as CONTACT_name,
      consultant.id as CONSULTANT_id, consultant.name as CONSULTANT_name,
      assistant.id as ASSISTANT_id, assistant.name as ASSISTANT_name,
      manager.id as MANAGER_id, manager.name as MANAGER_name
    from
      Project prj,
      Company com,
      Position pos,
      Contact contact,
      User consultant,
      User assistant,
      User manager
    where prj.yn = 1 and cus.yn = 1 and pos.yn = 1 and contact.yn = 1 and consultant.yn = 1 and assistant.yn = 1 and manager.yn = 1
          and prj.customerId = cus.id
          and prj.positionId = pos.id
          and prj.contractId = con.id
          and prj.consultantId = consultant.id
          and prj.assistantId = assistant.id
          and prj.managerId = manager.id
  </sql>

  <insert id="insert" parameterType="com.newstar.hbms.project.domain.Project">
    insert into Project(
      id,
      importantLevelId,
      name,
      startDate,
      endDate,
      positionId,
      statusId,
      share,
      remark,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    ) values (
    #{id, jdbcType=BIGINT},
    #{importantLevelId, jdbcType=BIGINT},
    #{name, jdbcType=VARCHAR},
    #{startDate, jdbcType=DATE},
    #{endDate, jdbcType=DATE},
    #{positionId, jdbcType=BIGINT},
    #{statusId, jdbcType=BIGINT},
    #{share, jdbcType=BOOLEAN},
    #{remark, jdbcType=VARCHAR},
    1,
    #{updateUser, jdbcType=VARCHAR},
    now(),
    #{createUser, jdbcType=VARCHAR},
    now()
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.project.domain.Project">
    update Project set
      importantLevelId = #{importantLevelId, jdbcType=BIGINT},
      name = #{name, jdbcType=VARCHAR},
      startDate = #{startDate, jdbcType=DATE},
      endDate = #{endDate, jdbcType=DATE},
      positionId = #{positionId, jdbcType=BIGINT},
      statusId = #{statusId, jdbcType=BIGINT},
      share = #{share, jdbcType=BOOLEAN},
      remark = #{remark, jdbcType=VARCHAR},
      updateTime = now()
    where
      id = #{id}
  </update>

  <update id="disable">
    update Project set yn = 0, updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="projectId">
      #{projectId}
    </foreach>
  </update>

  <update id="enable">
    update Project set yn = 1 , updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="projectId">
      #{projectId}
    </foreach>
  </update>

  <select id="findByBean" parameterType="com.newstar.hbms.project.domain.Project"
          resultMap="Project">
    <include refid="selectProject"/>
    <if test="id != null">
      and prj.id = #{id}
    </if>
    <if test="name != null and !name.isEmpty()">
      and prj.name like "%"#{name}"%"
    </if>
    <if test="startDate != null">
      and prj.startDate >= #{startDate}
    </if>
    <if test="endDate != null">
      and #{endDate} >= prj.endDate
    </if>
    <if test="status != null">
      and prj.status = #{status}
    </if>
    <if test="isKey != null">
      and prj.isKey = #{isKey}
    </if>
    <if test="company != null and company.name != null">
      and cus.name like "%"#{company.name}"%"
    </if>
    <if test="position != null and position.name != null">
      and pos.name like "%"#{position.name}"%"
    </if>
    <if test="consultant != null and consultant.name != null">
      and consultant.name like "%"#{consultant.name}"%"
    </if>
    <if test="manager != null and manager.name != null">
      and manager.name like "%"#{manager.name}"%"
    </if>
    order by prj.createTime desc
  </select>

  <select id="findByIds" parameterType="com.newstar.hbms.project.domain.Project"
          resultMap="Project">
    <include refid="selectProject"/> and prj.id in
    <foreach collection="array" open="(" close=")" separator="," item="projectId">
      #{projectId}
    </foreach>
  </select>

</mapper>