<style>
    .widget-title {
        color: #000;
        font-family: '微软雅黑';
    }

    .widget-body {
        padding: 15px;
    }

    #worExperiences.form-group {
        margin: 0;
    }

    .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>

#set($datePattern = 'yyyy-mm-dd')

<form id="tempCandidateEditForm"
      method="post"
      enctype="multipart/form-data"
      action="/tempCandidate/save.do"
      class="form-horizontal"
      role="form"
      autocomplete="off"
      data-validator-option="{theme:'yellow_right_effect',stopOnError:false, timely:true}">
    <input type="hidden" name="id" value="$!tempCandidate.id">

    <div class="row">
        <div class="col-sm-4">
            <h3><b>新增临时候选人</b></h3>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <div class="col-sm-6">
                    <h4><b>候选人信息</b></h4>
                    <hr/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">姓名</label>
                <div class="col-sm-5">
                    <input type="text" id="name" name="name" value="$!tempCandidate.name" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">电话</label>
                <div class="col-sm-5">
                    <input type="text" id="phone" name="phone" value="$!tempCandidate.phone" placeholder="手机"
                           class="form-control" data-rule="电话:required;"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">邮箱</label>
                <div class="col-sm-5">
                    <input type="text" id="email" name="email" value="$!tempCandidate.email" placeholder="邮箱"
                           class="form-control"
                           data-rule="邮箱:email"/>
                </div>
            </div>

          <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right">所在地</label>
            <div class="col-sm-5">
              <select id="cityId" class="chosen-select form-control" name="cityId" value="$!tempCandidate.cityId">
                  #set($cities = $baseDataService.getCities().children)
                  #foreach($city in $cities)
                    <option value="$city.id" #if($city.id == $tempCandidate.cityId) selected #end>$city.label</option>
                  #end
              </select>
            </div>
          </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">当前公司</label>
                <div class="col-sm-5">
                    <select id="companyId" class="chosen-select form-control" name="companyId" value="$!tempCandidate.companyId">
                        #set($baseDataCompanies = $baseDataService.getCompanies().children)
                        #foreach($company in $baseDataCompanies)
                            <option value="$company.id" #if($company.id == $tempCandidate.companyId) selected #end>$company.label</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">部门</label>
                <div class="col-sm-5">
                    <input type="text" id="department" name="department" value="$!tempCandidate.department" class="form-control" data-rule="部门:required;"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">职位</label>
                <div class="col-sm-5">
                    <select id="positionId" class="chosen-select form-control" name="positionId"
                            value="$!tempCandidate.positionId">
                        #set($positions = $baseDataService.getPositions().children)
                        #foreach($position in $positions)
                            <option value="$position.id" #if($position.id == $tempCandidate.positionId) selected #end>$position.label</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">求职状态</label>
                <div class="col-sm-5">
                    <select id="jobHuntingStatusId" class="chosen-select form-control" name="jobHuntingStatusId"
                            value="$!tempCandidate.jobHuntingStatusId">
                        #set($jobHuntingStatuses = $baseDataService.getJobHuntingStatuses().children)
                        #foreach($jobHuntingStatus in $jobHuntingStatuses)
                            <option value="$jobHuntingStatus.id" #if($jobHuntingStatus.id == $tempCandidate.jobHuntingStatusId) selected #end>$jobHuntingStatus.label</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">负责的产品</label>
                <div class="col-sm-5">
                    <input type="text" id="production" name="production" value="$!tempCandidate.production" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <h4><b>项目信息</b></h4>
                    <hr/>
                </div>
            </div>

          <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right">公司</label>
            <div class="col-sm-5">
              <select id="projectCompanyId" name="projectCompanyId" value="$!tempCandidate.project.companyId" class="chosen-select form-control">
                  #foreach($company in $companies)
                    <option value="$company.id" #if($company.id == $tempCandidate.project.companyId) selected #end>$company.name</option>
                  #end
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-1 control-label no-padding-right">项目</label>
            <div class="col-sm-5">
              <select id="projectId" name="projectId" value="$!tempCandidate.projectId" class="chosen-select form-control">
                  #foreach($project in $projects)
                    <option value="$project.id" #if($project.id == $tempCandidate.project.id) selected #end>$tempCandidate.project.name</option>
                  #end
              </select>
            </div>
          </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <h4><b>创建信息</b></h4>
                    <hr/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">创建人</label>
                <div class="col-sm-5">
                  <select id="addUserId" name="addUserId" value="$!tempCandidate.addUserId" class="chosen-select form-control">
                    #foreach($user in $users)
                      <option value="$user.id" #if($user.id == $!tempCandidate.addUserId) selected #end>$user.username - $user.realName</option>
                    #end
                  </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">创建时间</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" name="addTime"
                               value="$!DateUtils.dateToString($tempCandidate.addTime, 'yyyy-mm-dd')"
                               type="text"
                               data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-rule="创建时间:date">
                                <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                              </span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-6">
                    <h4><b>寻访信息</b></h4>
                    <hr/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">寻访人</label>
                <div class="col-sm-5">
                  <select id="searchUserId" name="searchUserId" value="$!tempCandidate.searchUserId" class="chosen-select form-control">
                    #foreach($user in $users)
                      <option value="$user.id" #if($user.id == $!tempCandidate.searchUserId) selected #end>$user.username - $user.realName</option>
                    #end
                  </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">寻访时间</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input class="form-control date-picker" name="searchTime" value="$!DateUtils.dateToString($tempCandidate.searchTime, 'yyyy-mm-dd')"
                               type="text"
                               data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-rule="寻访时间:date">
                        <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                  </span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right">寻访备注</label>
                <div class="col-sm-5">
            <textarea type="text" id="searchRemark" name="searchRemark" rows="5"
                      class="form-control">$!tempCandidate.searchRemark</textarea>
                </div>
            </div>

            <div class="col-sm-7" style="text-align: center">
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-save bigger-200"></i>
                    保存
                </button>
                <button class="btn btn-sm btn-primary" type="button" onclick="window.location.reload()">
                    <i class="fa fa-save bigger-200"></i>
                    重置
                </button>
            </div>
        </div>

    </div>


</form>

<script type="text/javascript">
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    }).each(function (index, item) {
        $(item).next().on("click", function () {
            $(item).focus();
        });
    });
    $('.chosen-select').chosen({search_contains: true});
    $("#tempCandidateEditForm select[name=projectCompanyId]").cascadedChosen(
        [{
          childRef:$("#tempCandidateEditForm select[name=projectId]"),
          options:{
            dataCallback: undefined,//[{value:"",label:""}, {value:"",label:""}]
            url: "/project/findByBean.do?companyId=",
            dataMapper: function (data) {
              var nodeData = undefined;
              $(data.rows).each(function (index, item) {
                if (!nodeData) {
                  nodeData = [];
                }
                nodeData.push({value: item.id, label: item.name});
              });
              return nodeData;
            },
            selectedData:[$!tempCandidate.projectId]
          }
        }
        ]);
</script>