<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.CandidateIndexTaskDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.CandidateIndexTask">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into ResumeIndexTask(
      id,
      resumeId,
      status,
      yn,
      createTime,
      updateTime
    ) values (
      #{id},
      #{resumeId},
      #{status},
      #{yn},
      now(),
      now()
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.CandidateIndexTask">
    update ResumeIndexTask set
      status = #{status},
      updateTime = now()
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    update ResumeIndexTask set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="taskId">
      #{taskId}
    </foreach>
  </delete>

  <select id="findByBean"
          parameterType="com.newstar.hbms.candidate.domain.CandidateIndexTask"
          resultType="com.newstar.hbms.candidate.domain.CandidateIndexTask">
    select * from ResumeIndexTask  where 1 = 1
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="resumeId != null">
        and resumeId = #{resumeId}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="yn != null">
        and yn = #{yn}
      </if>

  </select>

  <select id="findByIds"
          parameterType="com.newstar.hbms.candidate.domain.CandidateIndexTask"
          resultType="com.newstar.hbms.candidate.domain.CandidateIndexTask">
    select * from ResumeIndexTask where id in
    <foreach collection="array" open="(" close=")" separator="," item="taskId">
      #{taskId}
    </foreach>
  </select>

</mapper>