<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.CandidateDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.Candidate">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into Candidate(
      id,
      name,
      sexId,
      birthday,
      mobile,
      telephone,
      email,
      otherContact,
      degreeId,
      maritalId,
      locationId,
      workYears,
      overseasExperience,
      industryId,
      currentCompanyId,
      currentPositionId,
      currentAnnualSalary,
      jobHuntingStatusId,
      other,
      keyword,
      remark,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    ) values (
      #{id, jdbcType=BIGINT},
      #{name, jdbcType=VARCHAR},
      #{sexId, jdbcType=BIGINT},
      #{birthday, jdbcType=DATE},
      #{mobile, jdbcType=VARCHAR},
      #{telephone, jdbcType=VARCHAR},
      #{email, jdbcType=VARCHAR},
      #{otherContact, jdbcType=VARCHAR},
      #{degreeId, jdbcType=BIGINT},
      #{maritalId, jdbcType=BIGINT},
      #{locationId, jdbcType=BIGINT},
      #{workYears, jdbcType=INTEGER},
      #{overseasExperience, jdbcType=BOOLEAN},
      #{industryId, jdbcType=BIGINT},
      #{currentCompanyId, jdbcType=BIGINT},
      #{currentPositionId, jdbcType=BIGINT},
      #{currentAnnualSalary, jdbcType=DOUBLE},
      #{jobHuntingStatusId, jdbcType=BIGINT},
      #{other, jdbcType=VARCHAR},
      #{keyword, jdbcType=VARCHAR},
      #{remark, jdbcType=VARCHAR},
      1,
      now(),
      #{createUser},
      now(),
      #{updateUser}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.Candidate">
    update Candidate set
      id = #{id},
      name = #{name, jdbcType=VARCHAR},
      resumeId = #{resumeId, jdbcType=BIGINT},
      sexId = #{sexId, jdbcType=BIGINT},
      birthday = #{birthday, jdbcType=DATE},
      mobile = #{mobile, jdbcType=VARCHAR},
      telephone = #{telephone, jdbcType=VARCHAR},
      email = #{email, jdbcType=VARCHAR},
      otherContact = #{otherContact, jdbcType=VARCHAR},
      degreeId = #{degreeId, jdbcType=BIGINT},
      maritalId = #{maritalId, jdbcType=BIGINT},
      locationId = #{locationId, jdbcType=BIGINT},
      workYears = #{workYears, jdbcType=INTEGER},
      overseasExperience = #{overseasExperience, jdbcType=BOOLEAN},
      industryId = #{industryId, jdbcType=BIGINT},
      currentCompanyId = #{currentCompanyId, jdbcType=BIGINT},
      currentPositionId = #{currentPositionId, jdbcType=BIGINT},
      currentAnnualSalary = #{currentAnnualSalary, jdbcType=DOUBLE},
      jobHuntingStatusId = #{jobHuntingStatusId, jdbcType=BIGINT},
      other = #{other, jdbcType=VARCHAR},
      keyword = #{keyword, jdbcType=VARCHAR},
      remark = #{remark, jdbcType=VARCHAR},
      updateTime = now(),
      updateUser = #{updateUser}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    update Candidate set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </delete>

  <select id="findByBean"
          parameterType="com.newstar.hbms.candidate.domain.Candidate"
          resultType="com.newstar.hbms.candidate.domain.Candidate">
    select * from Candidate  where 1 = 1
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="name != null">
        and name = #{name}
      </if>
      <if test="sexId != null">
        and sexId = #{sexId}
      </if>
      <if test="keyword != null">
        and keyword = #{keyword}
      </if>
      <if test="degreeId != null">
        and degreeId = #{degreeId}
      </if>
      <if test="currentPositionId != null">
        and currentPositionId = #{currentPositionId}
      </if>
      <if test="yn != null">
        and yn = #{yn}
      </if>
  </select>

  <select id="findByIds"
          parameterType="com.newstar.hbms.candidate.domain.Candidate"
          resultType="com.newstar.hbms.candidate.domain.Candidate">
    select * from Candidate where id in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

</mapper>