<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.CandidateDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.Candidate">
    insert into Candidate(
      code,
      name,
      sexId,
      birthday,
      mobile,
      telephone,
      email,
      otherContact,
      degreeId,
      maritalId,
      cityId,
      workYears,
      overseasExperience,
      industryId,
      companyId,
      positionId,
      currentAnnualSalary,
      jobHuntingStatusId,
      strengthsAndWeaknesses,
      remark,
      keyword,
      folderId,
      sourceId,
      uploaderId,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    ) values (
      #{code, jdbcType=VARCHAR},
      #{name, jdbcType=VARCHAR},
      #{sexId, jdbcType=BIGINT},
      #{birthday, jdbcType=DATE},
      #{mobile, jdbcType=VARCHAR},
      #{telephone, jdbcType=VARCHAR},
      #{email, jdbcType=VARCHAR},
      #{otherContact, jdbcType=VARCHAR},
      #{degreeId, jdbcType=BIGINT},
      #{maritalId, jdbcType=BIGINT},
      #{cityId, jdbcType=BIGINT},
      #{workYears, jdbcType=INTEGER},
      #{overseasExperience, jdbcType=BOOLEAN},
      #{industryId, jdbcType=BIGINT},
      #{companyId, jdbcType=BIGINT},
      #{positionId, jdbcType=BIGINT},
      #{currentAnnualSalary, jdbcType=DOUBLE},
      #{jobHuntingStatusId, jdbcType=BIGINT},
      #{strengthsAndWeaknesses, jdbcType=VARCHAR},
      #{remark, jdbcType=VARCHAR},
      #{keyword, jdbcType=VARCHAR},
      #{folderId, jdbcType=BIGINT},
      #{sourceId, jdbcType=BIGINT},
      #{uploaderId, jdbcType=BIGINT},
      1,
      now(),
      #{createUser},
      now(),
      #{updateUser}
    )
    <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
      select last_insert_id()
    </selectKey>
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.Candidate">
    update Candidate set
      code = #{code, jdbcType=VARCHAR},
      name = #{name, jdbcType=VARCHAR},
      sexId = #{sexId, jdbcType=BIGINT},
      birthday = #{birthday, jdbcType=DATE},
      mobile = #{mobile, jdbcType=VARCHAR},
      telephone = #{telephone, jdbcType=VARCHAR},
      email = #{email, jdbcType=VARCHAR},
      otherContact = #{otherContact, jdbcType=VARCHAR},
      degreeId = #{degreeId, jdbcType=BIGINT},
      maritalId = #{maritalId, jdbcType=BIGINT},
      cityId = #{cityId, jdbcType=BIGINT},
      workYears = #{workYears, jdbcType=INTEGER},
      overseasExperience = #{overseasExperience, jdbcType=BOOLEAN},
      industryId = #{industryId, jdbcType=BIGINT},
      companyId = #{companyId, jdbcType=BIGINT},
      positionId = #{positionId, jdbcType=BIGINT},
      currentAnnualSalary = #{currentAnnualSalary, jdbcType=DOUBLE},
      jobHuntingStatusId = #{jobHuntingStatusId, jdbcType=BIGINT},
      strengthsAndWeaknesses = #{strengthsAndWeaknesses, jdbcType=VARCHAR},
      remark = #{remark, jdbcType=VARCHAR},
      keyword = #{keyword, jdbcType=VARCHAR},
      folderId = #{folderId, jdbcType=BIGINT},
      sourceId = #{sourceId, jdbcType=BIGINT},
      uploaderId = #{uploaderId, jdbcType=BIGINT},
      updateTime = now(),
      updateUser = #{updateUser}
    where
      id = #{id}
  </update>

  <delete id="disableByIds" parameterType="java.lang.Long">
    update Candidate set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </delete>

  <select id="findByBean"
          parameterType="com.newstar.hbms.candidate.domain.Candidate"
          resultType="com.newstar.hbms.candidate.domain.Candidate">
    select * from Candidate  where 1 = 1
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="name != null">
        and name like "%"#{name}"%"
      </if>
      <if test="companyId != null">
        and companyId = #{companyId}
      </if>
      <if test="positionId != null">
        and positionId = #{positionId}
      </if>
      <if test="cityId != null">
        and cityId = #{cityId}
      </if>
      <if test="jobHuntingStatusId != null">
        and jobHuntingStatusId = #{jobHuntingStatusId}
      </if>
      <if test="yn != null">
        and yn = #{yn}
      </if>
  </select>

  <select id="findByIds"
          parameterType="com.newstar.hbms.candidate.domain.Candidate"
          resultType="com.newstar.hbms.candidate.domain.Candidate">
    select * from Candidate where id in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

</mapper>