<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.CertificateDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.Certificate">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into Certificate(
    id,
    resumeId,
    name,
    acquireDate
    )
    values (
    #{id},
    #{resumeId},
    #{name, jdbcType=VARCHAR},
    #{acquireDate,jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.Certificate">
    update Certificate set
      name = #{name, jdbcType=VARCHAR},
      acquireDate = #{acquireDate,jdbcType=VARCHAR}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    delete from Certificate where id in
    <foreach collection="array" open="(" close=")" separator="," item="certificateId">
      #{certificateId}
    </foreach>
  </delete>

  <select id="findByBean"
          parameterType="com.newstar.hbms.candidate.domain.Certificate"
          resultType="com.newstar.hbms.candidate.domain.Certificate">
    select
    *
    from Certificate
    where 1 = 1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="resumeId != null">
      and resumeId = #{resumeId}
    </if>
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="acquireDate != null">
      and acquireDate = #{acquireDate}
    </if>
  </select>


  <select id="findByIds"
          parameterType="com.newstar.hbms.candidate.domain.Certificate"
          resultType="com.newstar.hbms.candidate.domain.Certificate">
    select * from Certificate where id in
    <foreach collection="array" open="(" close=")" separator="," item="certificateId">
      #{certificateId}
    </foreach>
  </select>

  <select id="findByResumeIds" parameterType="com.newstar.hbms.candidate.domain.Certificate">
    select * from Certificate where resumeId in
    <foreach collection="array" open="(" close=")" separator="," item="resumeId">
      #{resumeId}
    </foreach>
  </select>

</mapper>