<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.CertificateDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.Certificate">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into Certificate(
    id,
    candidateId,
    certificateId,
    acquireDate
    )
    values (
      #{id},
      #{candidateId,jdbcType=BIGINT},
      #{certificateId,jdbcType=BIGINT},
      #{acquireDate,jdbcType=DATE}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.Certificate">
    update Certificate set
      certificateId = #{certificateId, jdbcType=BIGINT},
      acquireDate = #{acquireDate,jdbcType=DATE}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    delete from Certificate where id in
    <foreach collection="array" open="(" close=")" separator="," item="certificateId">
      #{certificateId}
    </foreach>
  </delete>


  <select id="findByIds"
          parameterType="java.lang.Long"
          resultType="com.newstar.hbms.candidate.domain.Certificate">
    select * from Certificate where id in
    <foreach collection="array" open="(" close=")" separator="," item="certificateId">
      #{certificateId}
    </foreach>
  </select>

  <select id="findByCandidateIds" parameterType="java.lang.Long" resultType="com.newstar.hbms.candidate.domain.Certificate">
    select * from Certificate where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

</mapper>