<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.EducationExperienceDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.EducationExperience">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into EducationExperience(
      id,
      candidateId,
      schoolId,
      startDate,
      endDate,
      degreeId,
      majorId,
      typeId
    )
    values (
      #{id},
      #{candidateId, jdbcType=BIGINT},
      #{schoolId, jdbcType=BIGINT},
      #{startDate,jdbcType=DATE},
      #{endDate,jdbcType=DATE},
      #{degreeId, jdbcType=BIGINT},
      #{majorId, jdbcType=BIGINT},
      #{typeId, jdbcType=BIGINT}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.EducationExperience">
    update EducationExperience set
      schoolId = #{schoolId, jdbcType=BIGINT},
      startDate = #{startDate,jdbcType=DATE},
      endDate = #{endDate,jdbcType=DATE},
      degreeId = #{degreeId, jdbcType=BIGINT},
      majorId = #{majorId, jdbcType=BIGINT},
      typeId = #{typeId, jdbcType=BIGINT}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    delete from EducationExperience where id in
    <foreach collection="array" open="(" close=")" separator="," item="educationExperienceId">
      #{educationExperienceId}
    </foreach>
  </delete>

  <select id="findByIds"
          parameterType="java.lang.Long"
          resultType="com.newstar.hbms.candidate.domain.EducationExperience">
    select * from EducationExperience where id in
    <foreach collection="array" open="(" close=")" separator="," item="educationExperienceId">
      #{educationExperienceId}
    </foreach>
  </select>

  <select id="findByCandidateIds" parameterType="java.lang.Long" resultType="com.newstar.hbms.candidate.domain.EducationExperience">
    select * from EducationExperience where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

</mapper>