<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.LanguageAbilityDao">

  <insert id="insert" parameterMap="domain.LanguageAbility">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into LanguageAbility(
      id,
      resumeId,
      name,
      readAndWrite,
      listenAndSpeaking
    )
    values (
      #{id},
      #{resumeId},
      #{name, jdbcType=VARCHAR},
      #{readAndWrite,jdbcType=VARCHAR},
      #{listenAndSpeaking,jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterMap="domain.LanguageAbility">
    update LanguageAbility set
    name = #{name, jdbcType=VARCHAR},
    readAndWrite = #{readAndWrite,jdbcType=VARCHAR},
    listenAndSpeaking = #{listenAndSpeaking,jdbcType=VARCHAR}
    where
    id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    delete LanguageAbility set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="languageAbilityId">
      #{languageAbilityId}
    </foreach>
  </delete>

  <select id="findByBean"
          parameterMap="domain.LanguageAbility"
          resultMap="domain.LanguageAbility">
    select
    *
    from LanguageAbility
    where 1 = 1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="resumeId != null">
      and resumeId = #{resumeId}
    </if>
    <if test="readAndWrite != null">
      and readAndWrite = #{readAndWrite}
    </if>
    <if test="listenAndSpeaking != null">
      and listenAndSpeaking = #{listenAndSpeaking}
    </if>
  </select>


  <select id="findByIds"
          parameterMap="domain.LanguageAbility"
          resultMap="domain.LanguageAbility">
    select * from LanguageAbility where id in
    <foreach collection="array" open="(" close=")" separator="," item="languageAbilityId">
      #{languageAbilityId}
    </foreach>
  </select>

  <select id="findByResumeIds" resultMap="domain.LanguageAbility">
    select * from LanguageAbility where resumeId in
    <foreach collection="array" open="(" close=")" separator="," item="resumeId">
      #{resumeId}
    </foreach>
  </select>
</mapper>