<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.LanguageAbilityDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.LanguageAbility">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into LanguageAbility(
      id,
      candidateId,
      languageId,
      readAndWriteId,
      listenAndSpeakingId
    )
    values (
      #{id},
      #{candidateId, jdbcType=BIGINT},
      #{languageId, jdbcType=BIGINT},
      #{readAndWriteId, jdbcType=BIGINT},
      #{listenAndSpeakingId, jdbcType=BIGINT}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.LanguageAbility">
    update LanguageAbility set
      languageId = #{languageId, jdbcType=BIGINT},
      readAndWriteId = #{readAndWriteId, jdbcType=BIGINT},
      listenAndSpeakingId = #{listenAndSpeakingId, jdbcType=BIGINT}
    where
    id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    delete LanguageAbility set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="languageAbilityId">
      #{languageAbilityId}
    </foreach>
  </delete>

  <select id="findByIds"
          parameterType="java.lang.Long"
          resultType="com.newstar.hbms.candidate.domain.LanguageAbility">
    select * from LanguageAbility where id in
    <foreach collection="array" open="(" close=")" separator="," item="languageAbilityId">
      #{languageAbilityId}
    </foreach>
  </select>

  <select id="findByCandidateIds" parameterType="java.lang.Long" resultType="com.newstar.hbms.candidate.domain.LanguageAbility">
    select * from LanguageAbility where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>
</mapper>