<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.ProjectExperienceDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.ProjectExperience">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into ProjectExperience(
    id,
    candidateId,
    name,
    startDate,
    endDate,
    isIt,
    softwareEnvironment,
    hardwareEnvironment,
    developTool,
    projectDescription,
    position,
    responsibility
    )
    values (
    #{id},
    #{candidateId, jdbcType=BIGINT},
    #{name, jdbcType=VARCHAR},
    #{startDate, jdbcType=DATE},
    #{endDate, jdbcType=DATE},
    #{isIt, jdbcType=BOOLEAN},
    #{softwareEnvironment, jdbcType=VARCHAR},
    #{hardwareEnvironment, jdbcType=VARCHAR},
    #{developTool, jdbcType=VARCHAR},
    #{projectDescription, jdbcType=VARCHAR},
    #{position, jdbcType=VARCHAR},
    #{responsibility, jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.ProjectExperience">
    update ProjectExperience set
      name = #{name, jdbcType=VARCHAR},
      startDate = #{startDate, jdbcType=DATE},
      endDate = #{endDate, jdbcType=DATE},
      isIt = #{isIt, jdbcType=BOOLEAN},
      softwareEnvironment = #{softwareEnvironment, jdbcType=VARCHAR},
      hardwareEnvironment = #{hardwareEnvironment, jdbcType=VARCHAR},
      developTool = #{developTool, jdbcType=VARCHAR},
      projectDescription = #{projectDescription, jdbcType=VARCHAR},
      position = #{position, jdbcType=VARCHAR},
      responsibility = #{responsibility, jdbcType=VARCHAR}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    update ProjectExperience where id in
    <foreach collection="array" open="(" close=")" separator="," item="projectExperienceId">
      #{projectExperienceId}
    </foreach>
  </delete>

  <select id="findByIds"
          parameterType="java.lang.Long"
          resultType="com.newstar.hbms.candidate.domain.ProjectExperience">
    select * from ProjectExperience where id in
    <foreach collection="array" open="(" close=")" separator="," item="projectExperienceId">
      #{projectExperienceId}
    </foreach>
  </select>

  <select id="findByCandidateIds" parameterType="java.lang.Long" resultType="com.newstar.hbms.candidate.domain.ProjectExperience">
    select * from ProjectExperience where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

</mapper>