<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.ResumeDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.Resume">
    <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
      sequence.global
    </selectKey>
    insert into Resume(
      id,
      name,
      attachmentId,
      textResume,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    ) values (
      #{id},
      #{name},
      #{attachmentId},
      #{textResume},
      1,
      now(),
      #{createUser},
      now(),
      #{updateUser}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.Resume">
    update Resume set
      name = #{name},
      attachmentId = #{attachmentId},
      textResume = #{textResume},
      updateTime = now(),
      updateUser = #{updateUser}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    update Resume set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="resumeId">
      #{resumeId}
    </foreach>
  </delete>

  <select id="findByIds"
          parameterType="com.newstar.hbms.candidate.domain.Resume"
          resultType="com.newstar.hbms.candidate.domain.Resume">
    select * from Resume where id in
    <foreach collection="array" open="(" close=")" separator="," item="resumeId">
      #{resumeId}
    </foreach>
  </select>

</mapper>