<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.ResumeDao">

  <sql id="lightSelect">
    select
      candidateId,
      name,
      attachmentId,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    from Resume
  </sql>

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.Resume">
    insert into Resume(
      candidateId,
      name,
      attachmentId,
      textResume,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    ) values (
      #{candidateId},
      #{name},
      #{attachmentId},
      #{textResume},
      1,
      now(),
      #{createUser},
      now(),
      #{updateUser}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.Resume">
    update Resume set
      name = #{name},
      attachmentId = #{attachmentId},
      textResume = #{textResume},
      updateTime = now(),
      updateUser = #{updateUser}
    where
      candidateId = #{candidateId}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    update Resume set yn = 0 where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </delete>


  <delete id="disable" parameterType="java.lang.Long">
    update Resume set yn = 0 where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </delete>

  <delete id="enable" parameterType="java.lang.Long">
    update Resume set yn = 1 where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </delete>

  <select id="findByCandidateIds" resultType="com.newstar.hbms.candidate.domain.Resume">
    <include refid="lightSelect"/> where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

  <select id="findByIds" resultType="com.newstar.hbms.candidate.domain.Resume">
    <include refid="lightSelect"/> where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

</mapper>