<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.ResumeDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.Resume">
    insert into SourceResume(
      name,
      binaryResume,
      textResume,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    ) values (
      #{name},
      #{binaryResume},
      #{textResume},
      1,
      now(),
      #{createUser},
      now(),
      #{updateUser}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.Resume">
    update SourceResume set
      name = #{name},
      binaryResume = #{binaryResume},
      textResume = #{textResume},
      updateTime = now(),
      updateUser = #{updateUser}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    update SourceResume set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="sourceResumeId">
      #{sourceResumeId}
    </foreach>
  </delete>

  <select id="findByIds"
          parameterType="com.newstar.hbms.candidate.domain.Resume"
          resultType="com.newstar.hbms.candidate.domain.Resume">
    select * from SourceResume where id in
    <foreach collection="array" open="(" close=")" separator="," item="sourceResumeId">
      #{sourceResumeId}
    </foreach>
  </select>

</mapper>