<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.candidate.dao.WorkExperienceDao">

  <insert id="insert" parameterType="com.newstar.hbms.candidate.domain.WorkExperience">
    insert into WorkExperience(
      candidateId,
      company,
      startDate,
      endDate,
      position,
      responsibility
    )
    values (
      #{candidateId, jdbcType=BIGINT},
      #{company, jdbcType=VARCHAR},
      #{startDate, jdbcType=DATE},
      #{endDate, jdbcType=DATE},
      #{position, jdbcType=VARCHAR},
      #{responsibility, jdbcType=VARCHAR}
    )
    <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
      select last_insert_id()
    </selectKey>
  </insert>

  <update id="update" parameterType="com.newstar.hbms.candidate.domain.WorkExperience">
    update WorkExperience set
      candidateId = #{candidateId, jdbcType=BIGINT},
      company = #{company, jdbcType=VARCHAR},
      startDate = #{startDate, jdbcType=DATE},
      endDate = #{endDate, jdbcType=DATE},
      position = #{position, jdbcType=VARCHAR},
      responsibility = #{responsibility, jdbcType=VARCHAR}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    delete from WorkExperience where id in
    <foreach collection="array" open="(" close=")" separator="," item="workExperienceId">
      #{workExperienceId}
    </foreach>
  </delete>

  <select id="findByIds"
          parameterType="java.lang.Long"
          resultType="com.newstar.hbms.candidate.domain.WorkExperience">
    select * from WorkExperience where id in
    <foreach collection="array" open="(" close=")" separator="," item="workExperienceId">
      #{workExperienceId}
    </foreach>
  </select>

  <select id="findByCandidateIds" parameterType="java.lang.Long" resultType="com.newstar.hbms.candidate.domain.WorkExperience">
    select * from WorkExperience where candidateId in
    <foreach collection="array" open="(" close=")" separator="," item="candidateId">
      #{candidateId}
    </foreach>
  </select>

</mapper>