<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.system.dao.UserDao">

  <insert id="insert" parameterType="com.newstar.hbms.system.domain.User">
    insert into User(
      username,
      password,
      realName,
      resumeId,
      yn,
      createTime,
      createUser,
      updateTime,
      updateUser
    ) values (
      #{username},
      #{password},
      #{realName},
      #{resumeId},
      1,
      now(),
      #{createUser},
      now(),
      #{updateUser}
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.system.domain.User">
    update User set
      username = #{username},
      password = #{password},
      realName = #{realName},
      resumeId = #{resumeId}，
      updateTime = now(),
      updateUser = #{updateUser}
    where
      id = #{id}
  </update>

  <delete id="deleteByIds" parameterType="java.lang.Long">
    update User set yn = 0 where id in
    <foreach collection="array" open="(" close=")" separator="," item="userId">
      #{userId}
    </foreach>
  </delete>

  <select id="findByUri" resultType="com.newstar.hbms.system.domain.User">
    select * from User where uri = #{value}
  </select>

  <select id="findAll" resultType="com.newstar.hbms.system.domain.User">
    select * from User
  </select>

  <select id="findByIds" resultType="com.newstar.hbms.system.domain.User">
    select * from User where id in
    <foreach collection="array" open="(" close=")" separator="," item="userId">
      #{userId}
    </foreach>
  </select>

</mapper>