<style>
  .baseDataSelectorLabel {
    min-width: 200px;
  }
</style>

<div style="padding:10px;">
  <form id="searchCustomerForm" class="form-inline" role="form" action="" method="post">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">名称</div>
        <input class="form-control" name="name" #if($param['name']) value="$param['name']" #end>
      </div>
      <div class="input-group">
        <div class="input-group-addon">城市</div>
        <select id="cityId" class="chosen-select form-control" name="cityId" value="$!company.cityId" data-placeholder="请选择..." style="min-width: 100px">
          #set($cities = $baseDataService.getCities().children)
            <option value="">全部</option>
          #foreach($city in $cities)
            <option value="$city.id" #if($city.id == $!company.cityId) selected #end>$city.label</option>
          #end
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-addon" style="border: 1px solid #cccccc;">行业</div>
        <div id="industriesForSearch" class="baseDataSelector"></div>
      </div>
      <div class="input-group">
        <span class="input-group-btn">
          <button id="searchCustomer" class="btn btn-primary form-control no-radius" type="button">
            <i class="ace-icon fa fa-search"></i>搜索
          </button>
        </span>
      </div>
    </div>
    <div class="form-group" style="padding-left: 20px">
      <button id="addCustomer" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-plus"></i>
        新增
      </button>
      <button id="editCustomer" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-edit"></i>
        编辑
      </button>
      <button id="deleteCustomer" type="button" class="btn btn-danger form-control no-radius">
        <i class="ace-icon fa fa-trash-o"></i>
        删除
      </button>
    </div>
  </form>
</div>

<div id="customerListDiv" style="padding:10px;">
  <table id="customerList"></table>
  <div id="customerListPager"></div>
</div>

<div class="modal fade" id="customerAddOrEditDialog" tabindex="-1" role="dialog"
     aria-labelledby="customerAddOrEditDialogTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>
        </button>
        <h4 class="modal-title" id="customerAddOrEditDialogTitle">客户</h4>
      </div>
      <div class="modal-body">

        <form id="insertOrUpdateCustomerForm" class="form-horizontal" role="form" data-validator-option="{theme:'yellow_right_effect',stopOnError:false, timely:true}">
          <input type="hidden" value="$!company.id" name="id">
          <table class="table table-bordered table-striped" style="margin: 0px">
            <tr>
              <td align="right"><label class="control-label no-padding-right">名称</label><sup style="color:red">*</sup></td>
              <td><input type="text" class="form-control" name="name" data-rule="名称:required;name"/></td>
              <td align="right"><label class="control-label no-padding-right">网址</label></td>
              <td><input type="text" class="form-control" name="webSite" data-rule="网址:required;webSite"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">电话</label></td>
              <td><input type="text" class="form-control" name="phone"/></td>
              <td align="right"><label class="control-label no-padding-right">传真</label></td>
              <td><input type="text" class="form-control" name="fax"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">地区</label></td>
              <td><input type="text" class="form-control" name="region"/></td>

              <td align="right"><label class="control-label no-padding-right">地址</label></td>
              <td><input type="text" class="form-control" name="address"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">邮编</label></td>
              <td><input type="text" class="form-control" name="postCode"/></td>
              <td align="right"><label class="control-label no-padding-right">员工人数</label></td>
              <td><input type="text" class="form-control" name="staffCount"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">所属行业</label></td>
              <td><input type="text" class="form-control" name="industry"/></td>

              <td align="right"><label class="control-label no-padding-right">企业性质</label></td>
              <td><input type="text" class="form-control" name="nature"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">产品</label></td>
              <td><input type="text" class="form-control" name="products"/></td>

              <td align="right"><label class="control-label no-padding-right">注册资金</label></td>
              <td><input type="text" class="form-control" name="registeredCapital"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">法人</label></td>
              <td><input type="text" class="form-control" name="legalPerson"/></td>

              <td align="right"><label class="control-label no-padding-right">产权结构</label></td>
              <td><input type="text" class="form-control" class="form-control" name="propertyRightStructure"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">关键字</label></td>
              <td colspan="3"><input type="text" class="form-control" name="keyword"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">备注</label></td>
              <td colspan="3"><textarea  class="form-control" name="remark"></textarea></td>
            </tr>
          </table>
        </form>

      </div>
      <div class="modal-footer">
        <button id="saveOrUpdateCustomer" type="button" class="btn btn-primary">
          <i class="ace-icon fa fa-check bigger-110"></i>保存
        </button>
        <button id="closeCustomer" class="btn"><i class="ace-icon fa fa-undo bigger-110"></i>关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $("#customerList").jqGrid({
      url: '/company/findByBean.do?' + Math.random() + "=" + new Date().getTime(),
      mtype: "POST",
      datatype: "json",
      colNames: ['名称', '城市', '行业', '电话', '法人', '注册资金', '员工人数'],
      colModel: [
        {name: 'name', width: 150, formatter: function(cellvalue, options, rowObject){
                return "<a href='/company/detail.do?id=" + rowObject.id + "' target='_blank'>" + cellvalue + "</a>";
            }},
        {name: 'city', width: 150, formatter: function(cellvalue, options, rowObject){
          return cellvalue ? cellvalue.label : "";

        }},
        {name: 'industries', width: 150, formatter: function(cellvalue, options, rowObject){
          if (cellvalue && cellvalue.length > 0) {
            var text = "";
            $(cellvalue).each(function (index, item) {
              text += (text != "" ? "," : "") + item.industry.label
            });
            return text;
          }
          return "";
        }},
        {name: 'phone', width: 150},
        {name: 'legalPerson', width: 150},
        {name: 'registeredCapital', width: 150},
        {name: 'staffCount', width: 150}
      ],
      multiselect: true,
      rowNum: 10,
      rowList: [10, 30, 50, 100],
      pager: '#customerListPager',
      shrinkToFit: true
    });
    function resizeCustomerList() {
//        alert($("#customerListDiv").position().left + " = " + $("#customerListDiv").position().top);
      $("#customerList").jqGrid('setGridWidth', $(window).width() - $("#customerListDiv").position().left - 50);
      $("#customerList").jqGrid('setGridHeight', $(window).height() - $("#customerListDiv").position().top - 160);
    }
    resizeCustomerList();
    $(window).on('resize', function () {
      resizeCustomerList();
    });

    $("#searchCustomer").on("click", function () {
      var postData = $("#customerList").jqGrid("getGridParam", "postData");
      while (!$.isEmptyObject(postData)) {
        for (var key in postData) {
          delete postData[key];
        }
      }
      $("#customerList").jqGrid('setGridParam', {
        postData: (function () {
          var postData = {};
          $("#searchCustomerForm input, #searchCustomerForm select").each(function (index, item) {
            var val = $(item).val();
            if (val && val.length > 0) {
              postData[$(item).attr("name")] = val;
            }
          });
          return postData;
        })(),
        page: 1
      }).trigger("reloadGrid");
    });

    $("#addCustomer").on("click", function () {
        window.open('/company/editView.do');
    });

    $("#editCustomer").on("click", function () {
      var rowIds = $("#customerList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length != 1) {
        bootbox.alert("请选择一条记录");
        return;
      }
      window.open('/company/editView.do?id=' + rowIds[0]);
    });

    $("#deleteCustomer").on("click", function () {
      var rowIds = $("#customerList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length < 1) {
        bootbox.alert("请选择一条进行编辑");
        return;
      }
      bootbox.confirm("<h3>确定删除?</h3>", function (result) {
        if (result) {
          disableRecords(
              "/company/disableByIds.do",
              {ids: rowIds},
              function () {
                $("#searchCustomerForm").submit();
              },
              function () {
                $("#searchCustomerForm").submit();
              });
        }
      })
    });
  });

  $("#industriesForSearch").baseDataSelector({
    code: "INDUSTRY",
    formFieldsMapping: [
      {rawName: "industries[#index#].industryId", treeNodeAttr: "id"}
    ],
    isMultiFormField: true,
    initServerData:(function() {
      var serverData = [];
      var industries = [];
      #if($!company.industries)
        industries = $JsonUtils.beanToJson($!company.industries);
      #end
      $(industries).each(function (index, itemData) {
        serverData.push(itemData.industry);
      });
      return serverData;
    })()
  });
  $('.chosen-select').chosen({search_contains: true});
  $('.date-picker').datepicker({
    autoclose: true,
    todayHighlight: true
  }).next().on("click", function () {
    $('.date-picker').focus();
  });
</script>


