<div style="padding-bottom: 10px">
  <form id="searchContactForm" class="form-inline" role="form" action="" method="post">
    <input type="hidden" name="id" value="$!contact.id">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">中文名</div>
        <input class="form-control" name="name" #if($param['name']) value="$param['name']" #end>
        <div class="input-group-addon">英文名</div>
        <input class="form-control" name="englishName" #if($param['englishName']) value="$param['englishName']" #end>
        <div class="input-group-addon">公司</div>
        <input class="form-control" name="customer.name" #if($param['customer.name']) value="$param['customer.name']" #end>
        <div class="input-group-addon">手机</div>
        <input class="form-control" name="mobilePhone" #if($param['mobilePhone']) value="$param['mobilePhone']" #end>
        <div class="input-group-addon">关键</div>
        <select  class="form-control" type="checkbox" name="key">
          <option value="">全部</option>
          <option value="true"  #if($param['key'] and $param['key'] == true) checked #end >是</option>
          <option value="false"  #if($param['key'] and $param['key'] == false) checked #end >否</option>
        </select>
        <span class="input-group-btn">
          <button id="searchContact" class="btn btn-primary form-control no-radius" type="button">
            <i class="ace-icon fa fa-search"></i>搜索
          </button>
        </span>
      </div>
    </div>
    <div class="form-group" style="padding-left: 20px">
      <button id="addContact" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-plus"></i>
        新增
      </button>
      <button id="editContact" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-edit"></i>
        编辑
      </button>
      <button id="deleteContact" type="button" class="btn btn-danger form-control no-radius">
        <i class="ace-icon fa fa-trash-o"></i>
        删除
      </button>
    </div>
  </form>
</div>

<div id="contactListDiv">
  <table id="contactList"></table>
  <div id="contactListPager"></div>
</div>

<div class="modal fade" id="contactAddOrEditDialog" tabindex="-1" role="dialog"
     aria-labelledby="contactAddOrEditDialogTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>
        </button>
        <h4 class="modal-title" id="contactAddOrEditDialogTitle">客户</h4>
      </div>
      <div class="modal-body">

        <form id="insertOrUpdateContactForm" role="form" data-validator-option="{theme:'yellow_right_effect',stopOnError:false, timely:true}">
          <input type="hidden" value="$!contact.id" name="id">
          <table class="table table-bordered table-striped" style="margin: 0px">
            <tr>
              <td align="right"><label class="control-label no-padding-right">客户</label></td>
              <td colspan="3">
                <div id="customerOfEditContact">
##                  <input class="form-control" name="customer.name" readonly disabled style="border: 0;">
                  <span type="formFieldValue" name="customer.name"></span>
                </div>
                <div id="customerOfAddContact">
                  <select class="chosen-select form-control" name="customerId" data-rule="网址:required;customerId" style="width: 300px">
                    #foreach($customer in $customers)
                    <option value="$customer.id">$customer.name</option>
                    #end
                  </select>
                </div>
              </td>
              </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">姓名</label><sup style="color:red">*</sup></td>
              <td><input type="text" class="form-control" name="name" data-rule="名称:required;name"/></td>
              <td align="right"><label class="control-label no-padding-right">英文名</label></td>
              <td><input type="text" class="form-control" name="englishName"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">生日</label></td>
              <td>
                <div class="input-group">
                  <input class="form-control date-picker" name="birthday" type="text" data-date-format="yyyy-mm-dd" data-date-language="zh-CN">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                  </span>
                  <script type="text/javascript">
                    $('.date-picker').datepicker({
                      autoclose: true,
                      todayHighlight: true
                    }).next().on("click", function(){
                      $('.date-picker').focus();
                    });
                  </script>
                </div>
              </td>
              <td align="right"><label class="control-label no-padding-right">部门</label></td>
              <td><input type="text" class="form-control" name="department"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">职位</label></td>
              <td><input type="text" class="form-control" name="position"/></td>
              <td align="right"><label class="control-label no-padding-right">座机</label></td>
              <td><input type="text" class="form-control" name="companyPhone"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">手机</label></td>
              <td><input type="text" class="form-control" name="mobilePhone"/></td>
              <td align="right"><label class="control-label no-padding-right">传真</label></td>
              <td><input type="text" class="form-control" name="companyFax"/></td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">邮箱</label></td>
              <td><input type="text" class="form-control" name="email"/></td>
              <td align="right"><label class="control-label no-padding-right">是否关键</label></td>
              <td>
                <div class="checkbox">
                  <label>
                    <input name="key" type="checkbox" class="ace">
                    <span class="lbl">&nbsp;</span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td align="right"><label class="control-label no-padding-right">备注</label></td>
              <td colspan="3"><textarea  class="form-control" name="remark"></textarea></td>
            </tr>
          </table>
        </form>

      </div>
      <div class="modal-footer">
        <button id="saveOrUpdateContact" type="button" class="btn btn-primary">
          <i class="ace-icon fa fa-check bigger-110"></i>保存
        </button>
        <button id="closeContact" class="btn"><i class="ace-icon fa fa-undo bigger-110"></i>关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $("#contactList").jqGrid({
      url: '/contact/findByBean.do',
      mtype: "POST",
      datatype: "json",
      colNames: ['姓名', '英文名', '公司', '部门', '职位', '手机', '座机', '邮箱', '是否关键'],
      colModel: [
        {name: 'name', width: 150},
        {name: 'englishName', width: 150},
        {name: 'customer.name', width: 150},
        {name: 'department', width: 150},
        {name: 'position', width: 150},
        {name: 'mobilePhone', width: 150},
        {name: 'companyPhone', width: 150},
        {name: 'email', width: 150},
        {name: 'key', width: 150}
      ],
      multiselect: true,
      rowNum: 10,
      rowList: [10, 30, 50, 100],
      pager: '#contactListPager',
      caption: "客户列表",
      shrinkToFit: true
    });
    function resizeContactList() {
      $("#contactList").jqGrid('setGridWidth', $(window).width() - $("#contactListDiv").offset().left - 10);
      $("#contactList").jqGrid('setGridHeight', $(window).height() - $("#contactListDiv").offset().top - 140);
    }
    resizeContactList();
    $(window).on('resize', function () {
      resizeContactList();
    });

    $("#searchContact").on("click", function () {
      $("#contactList").jqGrid('setGridParam', {
        postData: {
          name: $("#searchContactForm input[name='name']").val(),
          industry: $("#searchContactForm input[name='industry']").val(),
          phone: $("#searchContactForm input[name='phone']").val()
        },
        page: 1
      }).trigger("reloadGrid");
    });

    $("#addContact").on("click", function () {
      //清空表单
      $("#customerOfAddContact").css("display", "block");
      $("#customerOfEditContact").css("display", "none");
      $("#insertOrUpdateContactForm").validator("cleanUp");
      $("#insertOrUpdateContactForm input").val(null);
      $("#insertOrUpdateContactForm select").val(null)
      $("#insertOrUpdateContactForm textarea").val(null);
      $("#contactAddOrEditDialogTitle").text("新增客户");
      $('#contactAddOrEditDialog').modal('show')
    });

    $("#editContact").on("click", function () {
      var rowIds = $("#contactList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length != 1) {
        bootbox.alert("请选择要删除的记录");
        return;
      }
      $("#contactListDiv").block({
        message: '<h3>正在加载数据</h3>',
        css: {border: '3px solid #a00'}
      });
      loadRecord("/contact/findById.do", {id: rowIds[0]}, "#insertOrUpdateContactForm", function () {
        $("#contactListDiv").unblock();
        $("#customerOfAddContact").css("display", "none");
        $("#customerOfEditContact").css("display", "block");
        $("#contactAddOrEditDialogTitle").text("编辑客户");
        $('#contactAddOrEditDialog').modal('show')
      });
    });

    $("#deleteContact").on("click", function () {
      var rowIds = $("#contactList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length < 1) {
        bootbox.alert("请选择一条进行编辑");
        return;
      }
      bootbox.confirm("<h3>确定删除?</h3>", function (result) {
        if (result) {
          disableRecords(
              "/contact/disableByIds.do",
              {ids: rowIds},
              function () {
                $("#searchContactForm").submit();
              },
              function () {
                $("#searchContactForm").submit();
              });
        }
      })
    });

    $("#saveOrUpdateContact").on("click", function () {
      saveOrUpdateRecord("/contact/insertOrUpdate.do", "#insertOrUpdateContactForm", function () {
        $("#contactAddOrEditDialog").modal("hide");
        $("#searchContactForm").submit();
      });
    })

    $("#closeContact").on("click", function () {
      $("#contactAddOrEditDialog").modal("hide");
    })

    $('#customer').chosen();
  });
</script>


