<div style="padding-bottom: 10px">
  <form id="searchContactForm" class="form-inline" role="form" action="" method="post">
##    <input type="hidden" name="id" value="$!contact.id">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">中英文名</div>
        <input class="form-control" name="name" #if($param['name']) value="$param['name']" #end>
      </div>
      <div class="input-group">
        <div class="input-group-addon">公司</div>
        <select id="companyId" name="companyId" data-placeholder="" class="chosen-select form-control">
          <option value="">全部</option>
          #foreach($company in $companies)
            <option value="$company.id" #if($company.id == $param['companyId']) selected #end>$company.name</option>
          #end
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-addon">手机</div>
        <input class="form-control" name="mobilePhone" #if($param['mobilePhone']) value="$param['mobilePhone']" #end>
      </div>
      <div class="input-group">
        <div class="input-group-addon">重要程度</div>
        <select id="importantLevelId" name="importantLevelId" class="chosen-select form-control">
          #set($contactImportantLevels = $baseDataService.getContactImportantLevels().children)
          <option value="">全部</option>
          #foreach($contactImportantLevel in $contactImportantLevels)
            <option value="$contactImportantLevel.id" #if($contactImportantLevel.id == $param['importantLevelId']) selected #end>$contactImportantLevel.label</option>
          #end
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-btn">
          <button id="searchContact" class="btn btn-primary form-control no-radius" type="button">
            <i class="ace-icon fa fa-search"></i>搜索
          </button>
        </span>
      </div>
    </div>
    <div class="form-group" style="padding-left: 20px">
      <button id="addContact" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-plus"></i>
        新增
      </button>
      <button id="editContact" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-edit"></i>
        编辑
      </button>
      <button id="deleteContact" type="button" class="btn btn-danger form-control no-radius">
        <i class="ace-icon fa fa-trash-o"></i>
        删除
      </button>
    </div>
  </form>
</div>

<div id="contactListDiv">
  <table id="contactList"></table>
  <div id="contactListPager"></div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#contactList").jqGrid({
      url: '/contact/findByBean.do',
      mtype: "POST",
      datatype: "json",
      colNames: ['姓名', '英文名', '公司', '部门', '职位', '手机', '座机', '邮箱','生日', '重要程度'],
      colModel: [
        {name: 'name', width: 150, formatter: function(cellvalue, options, rowObject){
            return "<a href='/contact/detail.do?id=" + rowObject.id + "' target='_blank'>" + cellvalue + "</a>";
          }},
        {name: 'englishName', width: 150},
        {name: 'company.name', width: 150},
        {name: 'department', width: 150},
        {name: 'position', width: 150},
        {name: 'mobilePhone', width: 150},
        {name: 'companyPhone', width: 150},
        {name: 'email', width: 150},
        {name: 'birthday', width: 150},
        {name: 'importantLevel', width: 150, formatter: function(cellvalue, options, rowObject){
          return cellvalue ? cellvalue.label : "";
        }}
      ],
      multiselect: true,
      rowNum: 10,
      rowList: [10, 30, 50, 100],
      pager: '#contactListPager',
      shrinkToFit: true
    });
    function resizeContactList() {
      $("#contactList").jqGrid('setGridWidth', $(window).width() - $("#contactListDiv").offset().left - 10);
      $("#contactList").jqGrid('setGridHeight', $(window).height() - $("#contactListDiv").offset().top - 140);
    }
    resizeContactList();
    $(window).on('resize', function () {
      resizeContactList();
    });

    $("#searchContact").on("click", function () {
      var postData = $("#contactList").jqGrid("getGridParam", "postData");
      while (!$.isEmptyObject(postData)) {
        for (var key in postData) {
          delete postData[key];
        }
      }
      $("#contactList").jqGrid('setGridParam', {
        postData: (function () {
          var postData = {};
          $("#searchContactForm input, #searchContactForm select").each(function (index, item) {
            var val = $(item).val();
            if (val && val.length > 0) {
              postData[$(item).attr("name")] = val;
            }
          });
          return postData;
        })(),
        page: 1
      }).trigger("reloadGrid");
    });

    $("#addContact").on("click", function () {
      window.open('/contact/editView.do');
    });

    $("#editContact").on("click", function () {
      var rowIds = $("#contactList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length != 1) {
        bootbox.alert("请选择一条记录");
        return;
      }
      window.open('/contact/editView.do?id=' + rowIds[0]);
    });

    $("#deleteContact").on("click", function () {
      var rowIds = $("#contactList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length < 1) {
        bootbox.alert("请选择一条进行编辑");
        return;
      }
      bootbox.confirm("<h3>确定删除?</h3>", function (result) {
        if (result) {
          disableRecords(
              "/contact/disableByIds.do",
              {ids: rowIds},
              function () {
                $("#searchContactForm").submit();
              },
              function () {
                $("#searchContactForm").submit();
              });
        }
      })
    });

  });
  $('.chosen-select').chosen({search_contains: true});
</script>


