<h3>联系人&nbsp;<strong><span class="font-size:80">$!contact.name</span></strong>&nbsp;详情</h3>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#联系人信息" aria-controls="home" role="tab" data-toggle="tab">联系人信息</a>
    </li>
    <li role="presentation"><a href="#批注" aria-controls="settings" role="tab" data-toggle="tab">批注</a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="联系人信息">


      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">重要程度</div>
        <div class="col-sm-11">
          $!contact.importantLevel.label
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">所属公司</div>
        <div class="col-sm-11">
          $!contact.company.name
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">姓名</div>
        <div class="col-sm-11">
          $!contact.name
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">英文姓名</div>
        <div class="col-sm-11">
          $!contact.englishName
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">性别</div>
        <div class="col-sm-11">
          $!contact.sex.label
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">所在部门</div>
        <div class="col-sm-11">
          $!contact.department
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">职位</div>
        <div class="col-sm-11">
          $!contact.position
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">公司电话</div>
        <div class="col-sm-11">
          $!contact.companyPhone
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">手机</div>
        <div class="col-sm-11">
          $!contact.mobilePhone
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">公司传真</div>
        <div class="col-sm-11">
          $!contact.companyFax
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">邮箱</div>
        <div class="col-sm-11">
          $!contact.email
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">其他联系方式</div>
        <div class="col-sm-11">
          $!contact.otherContact
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">生日</div>
        <div class="col-sm-11">
          $!DateUtils.dateToString($!contact.birthday, 'yyyy-mm-dd')
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1" style="text-align: right;font-weight: bold">备注</div>
        <div class="col-sm-11">
          $!contact.remark
        </div>
      </div>

    </div>

    <div role="tabpanel" class="tab-pane active" id="批注">
    </div>


  </div>

</div>

