<div style="padding-bottom: 10px">
  <form id="searchPositionForm" class="form-inline" role="form" action="" method="post">
    <input type="hidden" name="id" value="$!position.id">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">名称</div>
        <input class="form-control" name="name" #if($param['name']) value="$param['name']" #end>
        <div class="input-group-addon">公司</div>
        <input class="form-control" name="company.name" #if($param['company.name']) value="$param['company.name']" #end>
        <div class="input-group-addon">行业</div>
        <input class="form-control" name="industry" #if($param['mobilePhone']) value="$param['mobilePhone']" #end>
        <span class="input-group-btn">
          <button id="searchPosition" class="btn btn-primary form-control no-radius" type="button">
            <i class="ace-icon fa fa-search"></i>搜索
          </button>
        </span>
      </div>
    </div>
    <div class="form-group" style="padding-left: 20px">
      <button id="addPosition" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-plus"></i>
        新增
      </button>
      <button id="editPosition" type="button" class="btn btn-success form-control no-radius">
        <i class="ace-icon fa fa-edit"></i>
        编辑
      </button>
      <button id="deletePosition" type="button" class="btn btn-danger form-control no-radius">
        <i class="ace-icon fa fa-trash-o"></i>
        删除
      </button>
    </div>
  </form>
</div>

<div id="positionListDiv">
  <table id="positionList"></table>
  <div id="positionListPager"></div>
</div>

<div class="modal fade" id="positionAddOrEditDialog" tabindex="-1" role="dialog"
     aria-labelledby="positionAddOrEditDialogTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>
        </button>
        <h4 class="modal-title" id="positionAddOrEditDialogTitle">职位列表</h4>
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button id="saveOrUpdatePosition" type="button" class="btn btn-primary">
          <i class="ace-icon fa fa-check bigger-110"></i>保存
        </button>
        <button id="closePosition" class="btn"><i class="ace-icon fa fa-undo bigger-110"></i>关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $("#positionList").jqGrid({
      url: '/position/findByBean.do',
      mtype: "POST",
      datatype: "json",
      colNames: ['名称', '公司', '城市', '行业', '工作年限要求', '学历要求', '行业要求','外语要求',"地址"],
      colModel: [
        {name: 'name', width: 150},
        {name: 'company.name', width: 150},
        {name: 'city', width: 150, formatter: function(cell, options, row){return cell.label}},
        {name: 'industry', width: 150, formatter: function(cell, options, row){return cell.label}},
        {name: 'workYearsRequire', width: 150, formatter: function(cell, options, row){return row.minWorkYears + "- " + row.maxWorkYears}},
        {name: 'educationLevel', width: 150},
        {name: 'industry', width: 150},
        {name: 'foreignLanguage', width: 150},
        {name: 'address', width: 150}
      ],
      multiselect: true,
      rowNum: 10,
      rowList: [10, 30, 50, 100],
      pager: '#positionListPager',
      shrinkToFit: true
    });
    function resizePositionList() {
      $("#positionList").jqGrid('setGridWidth', $(window).width() - $("#positionListDiv").offset().left - 10);
      $("#positionList").jqGrid('setGridHeight', $(window).height() - $("#positionListDiv").offset().top - 140);
    }
    resizePositionList();
    $(window).on('resize', function () {
      resizePositionList();
    });

    $("#searchPosition").on("click", function () {
      $("#positionList").jqGrid('setGridParam', {
        postData: {
          name: $("#searchPositionForm input[name='name']").val(),
          "company.name": $("#searchPositionForm input[name='company.name']").val(),
          industry: $("#searchPositionForm input[name='industry']").val()
        },
        page: 1
      }).trigger("reloadGrid");
    });

    $("#addPosition").on("click", function () {
        window.open('/position/editView.do');
    });

    $("#editPosition").on("click", function () {
      var rowIds = $("#positionList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length != 1) {
        bootbox.alert("请选择一条记录");
        return;
      }
      window.open('/position/editView.do?id=' + rowIds[0]);
    });

    $("#deletePosition").on("click", function () {
      var rowIds = $("#positionList").jqGrid('getGridParam', 'selarrrow');
      if (!rowIds || rowIds.length < 1) {
        bootbox.alert("请选择一条进行编辑");
        return;
      }
      bootbox.confirm("<h3>确定删除?</h3>", function (result) {
        if (result) {
          disableRecords(
              "/position/disableByIds.do",
              {ids: rowIds},
              function () {
                $("#searchPositionForm").submit();
              },
              function () {
                $("#searchPositionForm").submit();
              });
        }
      })
    });


    $('.chosen-select').chosen({search_contains:true});
    $(".chosen-container").css("width","100%");
  });
</script>


