<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.common.dao.AttachmentDao">


    <sql id="lightSelect">
        select
            id,
            businessType,
            businessId,
            fileName,
            fileType,
            remark,
            yn,
            createTime,
            createUser,
            updateTime,
            updateUser
        from Attachment
    </sql>

    <insert id="insert" parameterType="com.newstar.hbms.common.domain.Attachment">
        <selectKey order="BEFORE" keyProperty="id" resultType="java.lang.Long">
            sequence.global
        </selectKey>
        insert into Attachment(
        id,
        businessType,
        businessId,
        fileName,
        fileType,
        fileBinaryData,
        remark,
        yn,
        createTime,
        createUser,
        updateTime,
        updateUser
        ) values (
        #{id},
        #{businessType, jdbcType=VARCHAR},
        #{businessId, jdbcType=BIGINT},
        #{fileName, jdbcType=VARCHAR},
        #{fileType, jdbcType=VARCHAR},
        #{fileBinaryData, jdbcType=BLOB},
        #{remark, jdbcType=VARCHAR},
        1,
        now(),
        #{createUser},
        now(),
        #{updateUser}
        )
    </insert>

    <update id="update" parameterType="com.newstar.hbms.common.domain.Attachment">
        update Attachment set
        businessType = #{businessType, jdbcType = VARCHAR},
        businessId = #{businessId, jdbcType = BIGINT},
        fileName = #{fileName, jdbcType = VARCHAR},
        fileType = #{fileType, jdbcType = VARCHAR},
        fileBinaryData = #{fileBinaryData, jdbcType = BLOB},
        remark = #{remark, jdbcType = VARCHAR},
        updateTime = now(),
        updateUser = #{updateUser}
        where
        id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from Attachment where id in
        <foreach collection="array" open="(" close=")" separator="," item="attachmentId">
            #{attachmentId}
        </foreach>
    </delete>

    <delete id="disable" parameterType="java.lang.Long">
        update Attachment set yn = 0 where id in
        <foreach collection="array" open="(" close=")" separator="," item="attachmentId">
            #{attachmentId}
        </foreach>
    </delete>

    <delete id="disableByBusinessId" parameterType="java.lang.Long">
        update Attachment set yn = 0 where businessId = #{value}
    </delete>

    <delete id="enable" parameterType="java.lang.Long">
        update Attachment set yn = 1 where id in
        <foreach collection="array" open="(" close=")" separator="," item="attachmentId">
            #{attachmentId}
        </foreach>
    </delete>

    <delete id="enableByBusinessId" parameterType="java.lang.Long">
        update Attachment set yn = 1 where businessId = #{value}
    </delete>


    <select id="findByIds" parameterType="java.lang.Long" resultType="com.newstar.hbms.common.domain.Attachment">
        select * from Attachment where yn = 1
        <if test="array != null">
            and id in
            <foreach collection="array" open="(" close=")" separator="," item="attachmentId">
                #{attachmentId}
            </foreach>
        </if>
    </select>

    <select id="findByBean"
            parameterType="com.newstar.hbms.common.domain.Attachment"
            resultType="com.newstar.hbms.common.domain.Attachment">
        select a.* from Attachment a where 1=1
        <if test="id != null">
          and a.id = #{id}
        </if>
        <if test="businessType != null">
          and a.businessType = #{businessType}
        </if>
        <if test="businessId != null">
          and a.businessId = #{businessId}
        </if>
        <if test="fileName != null">
          and a.fileName = #{fileName}
        </if>
        <if test="fileType != null">
          and a.fileType = #{fileType}
        </if>
        <if test="yn != null">
          and a.yn = #{yn}
        </if>
        <if test="createUser != null">
          and a.createUser = #{createUser}
        </if>
        <if test="updateUser != null">
          and a.updateUser = #{updateUser}
        </if>
    </select>

    <select id="findByBusiness"
            parameterType="com.newstar.hbms.common.domain.Attachment"
            resultType="com.newstar.hbms.common.domain.Attachment">
        <include refid="lightSelect"/> where 1 =1
        <if test="param1 != null">
          and businessType = #{param1}
        </if>
        <if test="param2 != null">
            and businessId in
            <foreach collection="param2" open="(" close=")" separator="," item="businessId">
                #{businessId}
            </foreach>
        </if>

    </select>

</mapper>