<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.customer.dao.CompanyDao">

  <insert id="insert" parameterType="com.newstar.hbms.customer.domain.Company">
    insert into Company(
      companyTypeId,
      name,
      fullName,
      cityId,
      phone,
      webSite,
      address,
      email,
      fax,
      staffCount,
      natureId,
      products,
      registeredCapital,
      legalPerson,
      propertyRightStructureId,
      intro,
      keyword,
      businessDeveloperId,
      folderId,
      remark,
      yn,
      updateUser,
      updateTime,
      createUser,
      createTime
    ) values (
      #{companyTypeId, jdbcType=BIGINT},
      #{name, jdbcType=VARCHAR},
      #{fullName, jdbcType=VARCHAR},
      #{cityId, jdbcType=BIGINT},
      #{phone, jdbcType=VARCHAR},
      #{webSite, jdbcType=VARCHAR},
      #{address, jdbcType=VARCHAR},
      #{email, jdbcType=VARCHAR},
      #{fax, jdbcType=VARCHAR},
      #{staffCount, jdbcType=INTEGER},
      #{natureId, jdbcType=BIGINT},
      #{products, jdbcType=VARCHAR},
      #{registeredCapital, jdbcType=VARCHAR},
      #{legalPerson, jdbcType=VARCHAR},
      #{propertyRightStructureId, jdbcType=BIGINT},
      #{intro, jdbcType=VARCHAR},
      #{keyword, jdbcType=VARCHAR},
      #{businessDeveloperId, jdbcType=BIGINT},
      #{folderId, jdbcType=BIGINT},
      #{remark, jdbcType=VARCHAR},
      1,
      #{updateUser, jdbcType=VARCHAR},
      now(),
      #{createUser, jdbcType=VARCHAR},
      now()
    )
    <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
      select last_insert_id()
    </selectKey>
  </insert>

  <update id="update" parameterType="com.newstar.hbms.customer.domain.Company">
    update Company set
      companyTypeId = #{companyTypeId, jdbcType=BIGINT},
      name = #{name, jdbcType=VARCHAR},
      fullName = #{fullName, jdbcType=VARCHAR},
      cityId = #{cityId, jdbcType=BIGINT},
      phone = #{phone, jdbcType=VARCHAR},
      webSite = #{webSite, jdbcType=VARCHAR},
      address = #{address, jdbcType=VARCHAR},
      email = #{email, jdbcType=VARCHAR},
      fax = #{fax, jdbcType=VARCHAR},
      staffCount = #{staffCount, jdbcType=INTEGER},
      natureId = #{natureId, jdbcType=BIGINT},
      products = #{products, jdbcType=VARCHAR},
      registeredCapital = #{registeredCapital, jdbcType=VARCHAR},
      legalPerson = #{legalPerson, jdbcType=VARCHAR},
      propertyRightStructureId = #{propertyRightStructureId, jdbcType=BIGINT},
      intro = #{intro, jdbcType=VARCHAR},
      keyword = #{keyword, jdbcType=VARCHAR},
      businessDeveloperId = #{businessDeveloperId, jdbcType=BIGINT},
      folderId = #{folderId, jdbcType=BIGINT},
      remark = #{remark, jdbcType=VARCHAR},
      updateTime = now()
    where
      id = #{id}
  </update>

  <update id="disable">
    update Company set yn = 0, updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="companyId">
      #{companyId}
    </foreach>
  </update>

  <update id="enable">
    update Company set yn = 1 , updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="companyId">
      #{companyId}
    </foreach>
  </update>
  
  <select id="findByBean" parameterType="com.newstar.hbms.customer.domain.Company"
          resultType="com.newstar.hbms.customer.domain.Company">
    select * from Company c where yn = 1
    <if test="id != null">
      and c.id = #{id}
    </if>
    <if test="name != null and !name.isEmpty()">
      and c.name like "%"#{name}"%"
    </if>
    <if test="phone != null and !phone.isEmpty()">
      and c.phone like "%"#{phone}"%"
    </if>
    order by createTime desc
  </select>

  <select id="findByIds" resultType="com.newstar.hbms.customer.domain.Company">
    select * from Company where id in
    <foreach collection="array" open="(" close=")" separator="," item="companyId">
      #{companyId}
    </foreach>
  </select>

  <select id="findIndustriesByCompanyIds" resultType="com.newstar.hbms.customer.domain.CompanyIndustry">
    select * from CompanyIndustry where companyId in
    <foreach collection="array" open="(" close=")" separator="," item="companyId">
      #{companyId}
    </foreach>
  </select>

  <select id="findFoldersByCompanyIds" resultType="com.newstar.hbms.customer.domain.CompanyFolder">
    select * from CompanyFolder where companyId in
    <foreach collection="array" open="(" close=")" separator="," item="companyId">
      #{companyId}
    </foreach>
  </select>

  <!--industry-->
  <insert id="insertIndustry" parameterType="com.newstar.hbms.customer.domain.CompanyIndustry">
    insert into CompanyIndustry(
    id,
    companyId,
    industryId
    ) values (
    #{id, jdbcType=VARCHAR},
    #{companyId, jdbcType=BIGINT},
    #{industryId, jdbcType=BIGINT}
    )
  </insert>
  <delete id="cleanIndustries"  parameterType="java.lang.Long">
    delete from CompanyIndustry where companyId = #{value}
  </delete>

  <!--folder-->
  <insert id="insertFolder" parameterType="com.newstar.hbms.customer.domain.CompanyFolder">
    insert into CompanyFolder(
    id,
    companyId,
    folderId
    ) values (
    #{id, jdbcType=VARCHAR},
    #{companyId, jdbcType=BIGINT},
    #{folderId, jdbcType=BIGINT}
    )
  </insert>
  <delete id="cleanFolders"  parameterType="java.lang.Long">
    delete from CompanyFolder where companyId = #{value}
  </delete>
</mapper>