<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.company.dao.ContactDao">

  <resultMap id="Customer" type="com.newstar.hbms.company.domain.Company">
    <id column="id" property="id" />
    <result column="name" property="name"/>
  </resultMap>
  <resultMap id="Contact" type="com.newstar.hbms.company.domain.Contact">
    <id column="id" property="id" />
    <result column="name" property="name"/>
    <result column="customerId" property="customerId"/>
    <result column="englishName" property="englishName"/>
    <result column="birthday" property="birthday"/>
    <result column="department" property="department"/>
    <result column="position" property="position"/>
    <result column="companyPhone" property="companyPhone"/>
    <result column="mobilePhone" property="mobilePhone"/>
    <result column="companyFax" property="companyFax"/>
    <result column="email" property="email"/>
    <result column="isKey" property="isKey"/>
    <result column="remark" property="remark"/>
    <result column="yn" property="yn"/>
    <result column="updateUser" property="updateUser"/>
    <result column="updateTime" property="updateTime"/>
    <result column="createUser" property="createUser"/>
    <result column="createTime" property="createTime"/>
    <association property="company" columnPrefix="CUS_" resultMap="Customer"/>
  </resultMap>

  <insert id="insert" parameterType="com.newstar.hbms.company.domain.Contact">
    insert into Contact(
    name,
    customerId,
    englishName,
    birthday,
    department,
    position,
    companyPhone,
    mobilePhone,
    companyFax,
    email,
    isKey,
    remark,
    yn,
    updateUser,
    updateTime,
    createUser,
    createTime
    ) values (
    #{name, jdbcType=VARCHAR},
    #{customerId, jdbcType=BIGINT},
    #{englishName, jdbcType=VARCHAR},
    #{birthday, jdbcType=DATE},
    #{department, jdbcType=VARCHAR},
    #{position, jdbcType=VARCHAR},
    #{companyPhone, jdbcType=VARCHAR},
    #{mobilePhone, jdbcType=VARCHAR},
    #{companyFax, jdbcType=VARCHAR},
    #{email, jdbcType=VARCHAR},
    #{isKey, jdbcType=BOOLEAN},
    #{remark, jdbcType=VARCHAR},
    1,
    #{updateUser, jdbcType=VARCHAR},
    now(),
    #{createUser, jdbcType=VARCHAR},
    now()
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.company.domain.Contact">
    update Contact set
      name = #{name, jdbcType=VARCHAR},
      englishName = #{englishName, jdbcType=VARCHAR},
      birthday = #{birthday, jdbcType=DATE},
      department = #{department, jdbcType=VARCHAR},
      position = #{position, jdbcType=VARCHAR},
      companyPhone = #{companyPhone, jdbcType=VARCHAR},
      mobilePhone = #{mobilePhone, jdbcType=VARCHAR},
      companyFax = #{companyFax, jdbcType=VARCHAR},
      email = #{email, jdbcType=VARCHAR},
      isKey = #{isKey, jdbcType=BOOLEAN},
      remark = #{remark, jdbcType=VARCHAR},
      updateTime = now()
    where
      id = #{id}
  </update>

  <update id="disable">
    update Contact set yn = 0, updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="customerId">
      #{customerId}
    </foreach>
  </update>

  <update id="enable">
    update Contact set yn = 1 , updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="customerId">
      #{customerId}
    </foreach>
  </update>

  <select id="findByBean" parameterType="com.newstar.hbms.company.domain.Contact"
          resultMap="Contact">
    select co.*,cu.id as CUS_id,cu.name CUS_name from Contact co, Customer cu where co.yn = 1 and cu.yn = 1 and co.customerId = cu.id
    <if test="id != null">
      and co.id = #{id}
    </if>
    <if test="name != null and !name.isEmpty()">
      and co.name like "%"#{name}"%"
    </if>
    <if test="englishName != null and !englishName.isEmpty()">
      and co.englishName like "%"#{englishName}"%"
    </if>
    <if test="mobilePhone != null and !mobilePhone.isEmpty()">
      and co.mobilePhone like "%"#{mobilePhone}"%"
    </if>
    <if test="isKey != null">
      and co.isKey = #{isKey}
    </if>
    <if test="company != null and company.id != null">
      and cu.id = #{company.id}
    </if>
    <if test="company != null and company.name != null and !company.name.isEmpty()">
      and cu.name like "%"#{company.name}"%"
    </if>
    order by co.createTime desc
  </select>

  <select id="findByIds" parameterType="com.newstar.hbms.company.domain.Contact"
          resultMap="Contact">
    select co.*,cu.id as CUS_id,cu.name CUS_name from Contact co, Customer cu where co.yn = 1 and cu.yn = 1 and co.customerId = cu.id and co.id in
    <foreach collection="array" open="(" close=")" separator="," item="customerId">
      #{customerId}
    </foreach>
  </select>

</mapper>