<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.customer.dao.CustomerDao">

  <insert id="insert" parameterType="com.newstar.hbms.customer.domain.Customer">
    insert into Customer(
      name,
      webSite,
      phone,
      fax,
      region,
      address,
      postCode,
      staffCount,
      industry,
      nature,
      products,
      registeredCapital,
      legalPerson,
      propertyRightStructure,
      remark,
      keyword,
      yn,
      updateUser,
      updateTime,
      createUser,
      createTime
    ) values (
      #{name, jdbcType=VARCHAR},
      #{webSite, jdbcType=VARCHAR},
      #{phone, jdbcType=VARCHAR},
      #{fax, jdbcType=VARCHAR},
      #{region, jdbcType=VARCHAR},
      #{address, jdbcType=VARCHAR},
      #{postCode, jdbcType=VARCHAR},
      #{staffCount, jdbcType=VARCHAR},
      #{industry, jdbcType=VARCHAR},
      #{nature, jdbcType=VARCHAR},
      #{products, jdbcType=VARCHAR},
      #{registeredCapital, jdbcType=VARCHAR},
      #{legalPerson, jdbcType=VARCHAR},
      #{propertyRightStructure, jdbcType=VARCHAR},
      #{remark, jdbcType=VARCHAR},
      #{keyword, jdbcType=VARCHAR},
      1,
      #{updateUser, jdbcType=VARCHAR},
      now(),
      #{createUser, jdbcType=VARCHAR},
      now()
    )
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select last_insert_id();
    </selectKey>
  </insert>

  <update id="update" parameterType="com.newstar.hbms.customer.domain.Customer">
    update Customer set
      name = #{name, jdbcType=VARCHAR},
      webSite = #{webSite, jdbcType=VARCHAR},
      phone = #{phone, jdbcType=VARCHAR},
      fax = #{fax, jdbcType=VARCHAR},
      region = #{region, jdbcType=VARCHAR},
      address = #{address, jdbcType=VARCHAR},
      postCode = #{postCode, jdbcType=VARCHAR},
      staffCount = #{staffCount, jdbcType=VARCHAR},
      industry = #{industry, jdbcType=VARCHAR},
      nature = #{nature, jdbcType=VARCHAR},
      products = #{products, jdbcType=VARCHAR},
      registeredCapital = #{registeredCapital, jdbcType=VARCHAR},
      legalPerson = #{legalPerson, jdbcType=VARCHAR},
      propertyRightStructure = #{propertyRightStructure, jdbcType=VARCHAR},
      remark = #{remark, jdbcType=VARCHAR},
      keyword = #{keyword, jdbcType=VARCHAR},
      updateTime = now()
    where
      id = #{id}
  </update>

  <delete id="disable" parameterType="java.lang.Long">
    update Customer set yn = 0, updateTime = now() where id = #{id}
  </delete>

  <delete id="enable" parameterType="java.lang.Long">
    update Customer set yn = 1 , updateTime = now() where id = #{id}
  </delete>
  
  <select id="findByBean" parameterType="com.newstar.hbms.customer.domain.Customer"
          resultType="com.newstar.hbms.customer.domain.Customer">
    select * from Customer c where 1 = 1
    <if test="name != null">
      and c.name like "%"#{name}"%"
    </if>
    <if test="industry != null">
      and c.industry like "%"#{industry}"%"
    </if>
    <if test="phone != null">
      and c.phone like "%"#{phone}"%"
    </if>
    order by createTime desc
  </select>

  <select id="findByIds" parameterType="com.newstar.hbms.customer.domain.Customer"
          resultType="com.newstar.hbms.customer.domain.Customer">
    select * from Customer where id in
    <foreach collection="array" open="(" close=")" separator="," item="customerId">
      #{customerId}
    </foreach>
  </select>

</mapper>