<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newstar.hbms.company.dao.PositionDao">

  <resultMap id="Customer" type="com.newstar.hbms.company.domain.Company">
    <id column="id" property="id" />
    <result column="name" property="name"/>
  </resultMap>
  <resultMap id="Position" type="com.newstar.hbms.company.domain.Position">
    <id column="id" property="id" />
    <result column="name" property="name"/>
    <result column="minAge" property="minAge"/>
    <result column="maxAge" property="maxAge"/>
    <result column="sex" property="sex"/>
    <result column="minWorkYears" property="minWorkYears"/>
    <result column="maxWorkYears" property="maxWorkYears"/>
    <result column="educationLevel" property="educationLevel"/>
    <result column="industry" property="industry"/>
    <result column="foreignLanguage" property="foreignLanguage"/>
    <result column="address" property="address"/>
    <result column="description" property="description"/>
    <result column="customerId" property="customerId"/>
    <result column="remark" property="remark"/>
    <result column="yn" property="yn"/>
    <result column="updateUser" property="updateUser"/>
    <result column="updateTime" property="updateTime"/>
    <result column="createUser" property="createUser"/>
    <result column="createTime" property="createTime"/>
    <association property="company" columnPrefix="CUS_" resultMap="Customer"/>
  </resultMap>

  <insert id="insert" parameterType="com.newstar.hbms.company.domain.Position">
    insert into `Position`(
      name,
      minAge,
      maxAge,
      sex,
      minWorkYears,
      maxWorkYears,
      educationLevel,
      industry,
      foreignLanguage,
      address,
      description,
      customerId,
      remark,
      yn,
      updateUser,
      updateTime,
      createUser,
      createTime
    ) values (
    #{name, jdbcType=VARCHAR},
    #{minAge, jdbcType=INTEGER},
    #{maxAge, jdbcType=INTEGER},
    #{sex, jdbcType=INTEGER},
    #{minWorkYears, jdbcType=INTEGER},
    #{maxWorkYears, jdbcType=INTEGER},
    #{educationLevel, jdbcType=VARCHAR},
    #{industry, jdbcType=VARCHAR},
    #{foreignLanguage, jdbcType=VARCHAR},
    #{address, jdbcType=VARCHAR},
    #{description, jdbcType=VARCHAR},
    #{customerId, jdbcType=VARCHAR},
    #{remark, jdbcType=VARCHAR},
    1,
    #{updateUser, jdbcType=VARCHAR},
    now(),
    #{createUser, jdbcType=VARCHAR},
    now()
    )
  </insert>

  <update id="update" parameterType="com.newstar.hbms.company.domain.Position">
    update Position set
      name = #{name, jdbcType=VARCHAR},
      minAge = #{minAge, jdbcType=INTEGER},
      maxAge = #{maxAge, jdbcType=INTEGER},
      sex = #{sex, jdbcType=INTEGER},
      minWorkYears = #{minWorkYears, jdbcType=INTEGER},
      maxWorkYears = #{maxWorkYears, jdbcType=INTEGER},
      educationLevel = #{educationLevel, jdbcType=VARCHAR},
      industry = #{industry, jdbcType=VARCHAR},
      foreignLanguage = #{foreignLanguage, jdbcType=VARCHAR},
      address = #{address, jdbcType=VARCHAR},
      description = #{description, jdbcType=VARCHAR},
      customerId = #{customerId, jdbcType=VARCHAR},
      remark = #{remark, jdbcType=VARCHAR},
      updateTime = now()
    where
      id = #{id}
  </update>

  <update id="disable">
    update Position set yn = 0, updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="customerId">
      #{customerId}
    </foreach>
  </update>

  <update id="enable">
    update Position set yn = 1 , updateTime = now() where id in
    <foreach collection="array" open="(" close=")" separator="," item="customerId">
      #{customerId}
    </foreach>
  </update>

  <select id="findByBean" parameterType="com.newstar.hbms.company.domain.Position"
          resultMap="Position">
    select p.*,cu.id as CUS_id,cu.name CUS_name from Position p, Customer cu where p.yn = 1 and cu.yn = 1 and p.customerId = cu.id
    <if test="id != null">
      and p.id = #{id}
    </if>
    <if test="name != null and !name.isEmpty()">
      and p.name like "%"#{name}"%"
    </if>
    <if test="minAge != null">
      and p.minAge >= #{minAge}
    </if>
    <if test="maxAge != null">
      and #{maxAge} >= p.maxAge
    </if>
    <if test="sex != null">
      and p.sex = #{sex}
    </if>
    <if test="minWorkYears != null">
      and p.minWorkYears >= #{minWorkYears}
    </if>
    <if test="maxWorkYears != null">
      and #{maxWorkYears} >= p.maxWorkYears
    </if>
    <if test="educationLevel != null and !educationLevel.isEmpty()">
      and p.educationLevel like "%"#{educationLevel}"%"
    </if>
    <if test="industry != null and !industry.isEmpty()">
      and p.industry like "%"#{industry}"%"
    </if>
    <if test="foreignLanguage != null and !foreignLanguage.isEmpty()">
      and p.foreignLanguage like "%"#{foreignLanguage}"%"
    </if>
    <if test="industry != null and !industry.isEmpty()">
      and p.industry like "%"#{industry}"%"
    </if>
    <if test="company != null and company.id != null">
      and cu.id = #{company.id}
    </if>
    <if test="company != null and company.name != null and !company.name.isEmpty()">
      and cu.name like "%"#{company.name}"%"
    </if>
    order by p.createTime desc
  </select>

  <select id="findByIds" parameterType="com.newstar.hbms.company.domain.Position"
          resultMap="Position">
    select p.*,cu.id as CUS_id,cu.name CUS_name from Position p, Customer cu where p.yn = 1 and p.yn = 1 and p.customerId = cu.id and p.id in
    <foreach collection="array" open="(" close=")" separator="," item="customerId">
      #{customerId}
    </foreach>
  </select>

</mapper>