<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.companyname.hbms.basedata.dao.ListItemDao">

  <insert id="insert" parameterMap="domain.ListItem">
    insert into ListItem(value, typeId) values(#{value}, #{typeId})
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select last_insert_id();
    </selectKey>
  </insert>

  <update id="update" parameterMap="domain.ListItem">
    update ListItem set value = #{value}, typeId=#{typeId} where id = #{id}
  </update>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from ListItem where id in
    <foreach collection="array" open="(" close=")" separator="," item="listItemId">
      #{listItemId}
    </foreach>
  </delete>

  <select id="findByBean" parameterType="com.companyname.hbms.basedata.domain.ListItem" resultMap="domain.ListItem">
    select * from ListItem where 1=1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="value != null">
      and value = #{value}
    </if>
    <if test="typeId != null">
      and typeId = #{typeId}
    </if>
  </select>

  <select id="findAllCategory" resultMap="domain.ListItem">
    select * from ListItem where typeId is null
    <if test="id != null">
      id = #{id}
    </if>
  </select>

</mapper>