<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="/ace/css/bootstrap.css" />
<link rel="stylesheet" href="/ace/css/font-awesome.css" />

<link rel="stylesheet" href="/ace/css/ui.jqgrid.css"/>
<link rel="stylesheet" href="/ace/css/chosen.css" />
<link rel="stylesheet" href="/ace/css/datepicker.css"/>
<link rel="stylesheet" href="/ace/css/dropzone.css" />
<link rel="stylesheet" href="/validator/jquery.validator.css" />
<link rel="stylesheet" href="/resources/ztree/zTreeStyle.css" />
<link rel="stylesheet" href="/resources/plugin/jquery.basedata.css" />
<link rel="stylesheet" href="/resources/plugin/jquery.multiselector.css" />

<!-- text fonts -->
<link rel="stylesheet" href="/ace/css/ace-fonts.css" />
<!-- ace styles -->
<link rel="stylesheet" href="/ace/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />


<script src="/ace/js/jquery.js"></script>
<script src="/ace/js/bootstrap.js"></script>
<script src="/ace/js/ace/ace.js"></script>
<script src="/ace/js/dropzone.js"></script>
<script src="/ace/js/ace/elements.fileinput.js"></script>
<script src="/ace/js/ace/ace.widget-box.js"></script>
<script src="/ace/js/ace/elements.scroller.js"></script>

<script src="/ace/js/jqGrid/i18n/grid.locale-cn.js"></script>
<script src="/ace/js/jqGrid/jquery.jqGrid.src.js"></script>
<script src="/ace/js/bootbox.js"></script>
<script src="/ace/js/jquery.nestable.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script src="/validator/jquery.validator.js"></script>
<script src="/validator/zh_CN.js"></script>
<script src="/ace/js/chosen.jquery.js"></script>
<script src="/ace/js/date-time/bootstrap-datepicker.js"></script>
<script src="/ace/js/date-time/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/resources/ztree/jquery.ztree.all.js"></script>
<script src="/resources/plugin/jquery.basedata.js"></script>
<script src="/resources/plugin/jquery.cascadedchosen.js"></script>
<script src="/resources/plugin/jquery.multiselector.js"></script>
<script src="/js/common.js"></script>

<script type="text/javascript">
    $.fn.chosen.default_multiple_text = "请选择...";
    $.fn.chosen.default_single_text = "请选择...";
    $.fn.chosen.default_no_result_text = "没有匹配的结果";
</script>