<!DOCTYPE html>
<html>
<head>
  <title>HBMS</title>
<link rel="stylesheet" href="/resources/layout/layout-default-latest.css" />
<link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/resources/bootstrap/css/bootstrap-theme.css"/>
<link rel="stylesheet" href="/resources/validator/jquery.validator.css" />

<script src="/resources/jquery/jquery-2.1.4.min.js"></script>
<script src="/resources/jquery/jquery-ui.js"></script>
<script src="/resources/bootstrap/js/bootstrap.js"></script>
<script src="/resources/layout/jquery.layout.js"></script>
<script src="/resources/validator/jquery.validator.js"></script>
<script src="/resources/validator/zh_CN.js"></script>
<script src="/resources/jquery.form.js"></script>
<script src="/resources/jquery.blockUI.js"></script>
<script src="/resources/common.js"></script>
<script src="/resources/crud.js"></script>

  <style>
    .header {
      background: #F6F6F6;
      padding: 0;
      margin: 0;
    }
    .list-group-item:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .panel {
      border: 0px;
    }
    .panel-body {
      padding: 0px;
    }
    .panel-group .panel + .panel {
      margin-top: 0px;
    }
  </style>

<script type="text/javascript">
  var layoutOptions = {
    slidable: true,
    resizable: true,
    livePaneResizing:true,
    north__slidable:false,
    north__resizable:false,
    north__livePaneResizing:false,
    north__closable:false,
    north__showOverflowOnHover:false,
    north__hideTogglerOnSlide:true,
    north__spacing_open:0,
    north__size:50
  };
</script>

</head>
<body>

<div class="ui-layout-north header" style="padding: 0px;margin: 0px;overflow: hidden;background: #F6F6F6">
  <nav class="navbar" role="navigation">
    <a class="navbar-brand" href="/workPanel.do">首页</a>
    #foreach( $module in $modules )
      <a class="navbar-brand" href="$module.indexUri?moduleId=$module.id">$module.name</a>
    #end
  </nav>
</div>

<div class="ui-layout-center" style="padding: 0px;margin: 0px;">

  #if($workView)
    #set($viewSuffix=".vm")
    #set($workViewUri="$workView$viewSuffix")
  #end

  #if($module)
    <div class="ui-layout-west" style="padding: 0px;margin: 0px;background-color: #f2f2f2;padding: 0px">
      #foreach( $authority in $module.authorities )
        <a class="list-group-item #if($requestUri == $authority.uri) active #end"
           href="$authority.uri?moduleId=$module.id">$authority.name</a>
      #end
    </div>
    <div class="ui-layout-center" style="padding: 0px;margin: 0px;">
      #if($workViewUri)
        #parse($workViewUri)
      #end
    </div>
    <script language="JavaScript">
      layoutOptions.center__childOptions = {west__size:200};
    </script>
  #else
    #if($workViewUri)
      #parse($workViewUri)
    #end
  #end

</div>

</body>
</html>

<script type="text/javascript">
  $(document).ready(
      function () {
        $("body").layout(layoutOptions);
      }
  );
</script>