<h3>候选人&nbsp;<strong><span class="font-size:80">$!candidate.name</span></strong>&nbsp;详情</h3>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#基本信息" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
        <li role="presentation"><a href="#原始简历" aria-controls="profile" role="tab" data-toggle="tab">原始简历</a></li>
        <li role="presentation"><a href="#附件" aria-controls="profile" role="tab" data-toggle="tab">附件</a></li>
        <li role="presentation"><a href="#已参加项目" aria-controls="messages" role="tab" data-toggle="tab">已参加项目</a></li>
        <li role="presentation"><a href="#批注" aria-controls="settings" role="tab" data-toggle="tab">批注</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="基本信息">
            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">编号：</div>
                <div class="col-sm-11" style="text-align: left">$!candidate.code</div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">姓名：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.name
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">性别：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.sex.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">生日：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!DateUtils.dateToString($candidate.birthday, 'yyyy-mm-dd')
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">手机：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.mobile
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">座机：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.telephone
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">邮箱：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.email
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">其他联系方式：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.otherContact
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">学历：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.degree.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">婚姻状况：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.marital.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">所在地：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.city.name
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">工作年限：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.workYears
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">有海外经历：</div>
                <div class="col-sm-11" style="text-align: left">
                    #if($candidate.overseasExperience) 是 #else 否 #end
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">所在行业：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.industry.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">当前公司：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.company.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">当前职位：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.position.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">当前年薪：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.currentAnnualSalary 万
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">求职状态：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.status.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">备注：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.remark
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">搜索关键字：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.keyword
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">优劣势：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.strengthsAndWeaknesses
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">目录：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.folder.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">来源：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.source.label
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;font-weight: bold">上传人：</div>
                <div class="col-sm-11" style="text-align: left">
                    $!candidate.uploader.name
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="原始简历">
            #if($candidate.resume and $candidate.resume.attachmentId)
                点击下载：<a href="javascript:window.location.href='/attachment/download.do?id=$!candidate.resume.attachmentId'">$!candidate.resume.name</a>
                <iframe src="/html/resumeView/$!{candidate.id}.html" width="100%" height="800"></iframe>
            #else
                你还没有上传原始简历
            #end
        </div>
        <div role="tabpanel" class="tab-pane" id="附件">
            <table id="attachments" style="padding: 10px">
                #foreach($attachment in $candidate.otherAttachments)
                    #if($attachment)
                    <tr>
                        <td>
                            <a href="javascript:void()" data-id="$attachment.id">$!attachment.fileName</a>
                        </td>
                    </tr>
                    #end
                #end
            </table>
                #*#foreach($attachment in $candidate.otherAttachments)
                    #if($attachment)
                        <li class="list-group-item">
                            <a href="javascript:void()" data-id="$attachment.id">$!attachment.fileName</a>
                        </li>
                    #end
                #end*#
        </div>
        <div role="tabpanel" class="tab-pane" id="已参加项目">
            <div id="projectListOfCandidateDiv">
                <table id="projectListOfCandidate"></table>
                <div id="projectListOfCandidatePager" style="height: 50px"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="批注">

        </div>
    </div>

</div>
<script language="JavaScript">
$(document).ready(function () {
    $("#projectListOfCandidate").jqGrid({
        url: '/candidate/findProjectsByCandidateId.do',
        mtype: "POST",
        postData: {candidateId:$candidate.id},
        datatype: "json",
        colNames: ['名称', '职位', '公司', '项目经理', '状态', '重要程度'],
        colModel: [
            {
                name: 'name', width: 150, formatter: function (cellvalue, options, rowObject) {
                return "<a href='/project/detail.do?id=" + rowObject.id + "' target='_blank'>" + cellvalue + "</a>";
            }
            },
            {name: 'position.name', width: 150},
            {name: 'company.name', width: 150},
            {name: 'manager.realName', width: 150},
            {name: 'status.label', width: 150},
            {name: 'importantLevel.label', width: 150}
        ],
        multiselect: true,
        rowNum: 10,
        rowList: [10, 30, 50, 100],
        pager: '#projectListPager',
        shrinkToFit: true
    });
    function resizeProjectList() {
        $("#projectListOfCandidate").jqGrid('setGridWidth', $(window).width() - $("#projectListOfCandidateDiv").offset().left - 10);
        $("#projectListOfCandidate").jqGrid('setGridHeight', $(window).height() - $("#projectListOfCandidateDiv").offset().top - 100);
    }

    resizeProjectList();
    $(window).on('resize', function () {
        resizeProjectList();
    });
    $("#attachments a").on(ace.click_event, function () {
        window.location.href = "/attachment/download.do?id=" + $(this).data("id");
    });
});
</script>


