<div style="margin:2px">

<div class="row" style="margin: 5px">
  <form id="candidateSearchForm" method="post" action="/candidate/findByBean.do">
          <div class="col-xs-6">
            <div class="input-group">
              <div class="input-group-addon">关键字</div>
              <input type="text" class="form-control input-sm" name="destination"/>
            </div>
          </div>
          <div class="col-xs-6">
              <button id="candidateSearch" class="btn btn-sm btn-primary" type="button">搜索</button>
              <button id="candidateAdd" class="btn btn-sm btn-primary" type="button">新增</button>
              <button id="candidateEdit" class="btn btn-sm btn-primary" type="button">编辑</button>
              <button id="candidateDisable" class="btn btn-sm btn-primary" type="button">删除</button>
          </div>
  </form>
</div>

  <div id="candidateListDiv" style="width: 100%;left: 0;right: 0">
    <table id="candidateList"></table>
    <div id="candidateListPager"></div>
  </div>

  <script type="text/javascript">
    $("#candidateList").jqGrid({
      url: '/candidate/findByBean.do',
      mtype: "POST",
      datatype: "json",
      colNames: ['姓名', '公司',  '职位', '城市', '年薪', '年龄', '手机', '标签', '状态', "最近联系", "操作"],
      colModel: [
        {name: 'name'},
        {name: 'currentCompanyId'},
        {name: 'currentPositionId'},
        {name: 'locationId'},
        {name: 'currentAnnualSalary'},
        {name: 'birthday'},
        {name: 'mobile'},
        {name: 'tag'},
        {name: 'status'},
        {name: 'lastContact'},
        {name: 'isKey', formatter: function(cellvalue, options, rowObject){
          return cellvalue ? "<i class='ace-icon glyphicon glyphicon-ok' style='color: green'></i>" : "<i class='ace-icon glyphicon glyphicon-remove' style='color: red'></i>";

        }}
      ],
      multiselect: true,
      rowNum: 10,
      rowList: [10, 30, 50, 100],
      pager: '#candidateListPager',
      forceFit:true,
      shrinkToFit: false
    });
    function resizeCandidateList() {
//      $("#candidateList").jqGrid('setGridWidth', $(window).width() - $("#candidateListDiv").position().left - 15);
      $("#candidateList").jqGrid('setGridHeight', $(window).height() - $("#candidateListDiv").position().top - 100);
    }
    resizeCandidateList();
    $(window).on('resize', function () {
      resizeCandidateList();
    });
  </script>

<script>
  $('#candidateList th input:checkbox').on('click' , function(){
    var that = this;
    $('#candidateList').find('tr > td:first-child input:checkbox')
        .each(function(){
          this.checked = that.checked;
          $(this).closest('tr').toggleClass('selected');
        });
  });

  $("#candidateSearch").on("click", function () {
    searchCandidate();
  });
  function searchCandidate() {
    $("#candidateList").jqGrid('setGridParam', {
      /*postData: {
        name: $("#searchCustomerForm input[name='name']").val(),
        industry: $("#searchCustomerForm input[name='industry']").val(),
        phone: $("#searchCustomerForm input[name='phone']").val()
      },*/
      page: 1
    }).trigger("reloadGrid");
  }

  $("#candidateAdd").on(ace.click_event, function() {
      window.open('/candidate/edit.do');
  });
  $("#candidateDisable").on("click", function () {
    var rowIds = $("#candidateList").jqGrid('getGridParam', 'selarrrow');
    if (!rowIds || rowIds.length < 1) {
      bootbox.alert("请选择一条进行编辑");
      return;
    }
    bootbox.confirm("<h3>确定删除?</h3>", function (result) {
      if (result) {
        disableRecords(
            "/candidate/disableByIds.do",
            {ids: rowIds},
            function () {
              searchCandidate();
            },
            function () {
              searchCandidate();
            });
      }
    })
  });
  $("#candidateEdit").on(ace.click_event, function() {
    var rowIds = $("#candidateList").jqGrid('getGridParam', 'selarrrow');
    if (!rowIds || rowIds.length != 1) {
      bootbox.alert("请选择一条进行编辑");
      return;
    }
    window.open('/candidate/edit.do?id='+rowIds[0]);
  });

</script>
