<div class="row">
  <div class="col-sm-6">
      <h3><b>简历管理</b></h3>
      <hr/>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
      <span class="input-group-btn">
          <button id="resumeConvert" class="btn btn-success form-control no-radius" type="button">
            <i class="ace-icon fa fa-edit"></i>生产HTML简历
          </button>
        </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
      转换结果：$!result
  </div>
</div>
<script language="JavaScript">
    $("#resumeConvert").on(ace.click_event, function() {
        $.ajax({
            url:"/resume/convert.do",
            type: "POST",
           // data: parameter,
            dataType: "html",
//            timeout: 3000,
            success: function(data, textStatus, jqXHR){
                alert(jqXHR.responseText);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    });
</script>