<style>
  .widget-title {
    color: #000;
    font-family: '微软雅黑';
  }
  .widget-body {
    padding: 15px;
  }
  #attachmentTemplate{
    display: none;
  }
</style>

<div id="attachmentTemplate">
<div class="form-group">
  <label class="col-xs-1 control-label no-padding-right">附件<sup style="color:red">*</sup></label>
  <div class="col-xs-10">
      <input type="file" class="form-control" name="otherAttachmentFiles">
  </div>
  <div class="col-xs-1">
    <button class="btn btn-xs btn-danger" onclick="$(this).parent().parent().remove();reCalculateAttatcmentSeq()">
      <i class="ace-icon fa fa-remove bigger-110"></i>
      删除
    </button>
  </div>
</div>
</div>

<form id="resumeAddForm"
        method="post"
        enctype="multipart/form-data"
        action="/candidate/insertOrUpdate.do"
        class="form-horizontal"
        role="form"
        autocomplete="off"
        data-validator-option="{theme:'yellow_right_effect',stopOnError:false, timely:true}">
    <input type="hidden" name="id" value="$!candidate.id">
    <div class="row" style="margin: 0;padding: 0">
      <div class="container">

        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h4 class="widget-title">原始简历及附件</h4>
            <div class="widget-toolbar">
              <a id="addAttachment" href="#">
                <i class="ace-icon fa fa-plus"></i>
                添加附件
              </a>
              <script type="text/javascript">
                $("#addAttachment").on("click", function () {
                  $("#attachments").append($("#attachmentTemplate").html());
                  reCalculateAttatcmentSeq();
                });
                function reCalculateAttatcmentSeq() {
                  var attatementSeq = 0;
                  $("#attachments").find(".form-group").each(function (index, item) {
                    $(item).find("label.control-label").text("附件" + ++attatementSeq);
                    renderFileInput($(item).find("input"));
                  });
                }
              </script>
              <a href="#">
                <i class="ace-icon fa fa-clipboard"></i>
                粘贴简历
              </a>
              <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
              </a>
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body">
            #if($candidate.id)
            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">已上传简历</label>
              <div class="col-xs-10">
                #if($candidate.resume and $candidate.resume.id)
                    <input type="hidden" name="resume.id" value="$candidate.resume.id">
                #end
                <a href="">$!candidate.resume.name</a>
              </div>
              <div class="col-xs-1">
              </div>
            </div>
            #end
            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">简历</label>
              <div class="col-xs-10">
                  <input type="file" id="resumeFile" name="resumeFile">
              </div>
            </div>
            <div id="attachments">
            </div>
          </div>
        </div>

        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h4 class="widget-title">基本信息</h4>
            <div class="widget-toolbar">
              <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
              </a>
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body" style="display: block;padding: 15px">

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">姓名<sup style="color:red">*</sup></label>
              <div class="col-xs-11">
                <input type="text" class="form-control" name="name" value="$!candidate.name" placeholder="姓名"  data-rule="姓名:required;name"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">性别</label>
              <div class="col-xs-11">
                <select id="contactSelect"  name="sexId" value="$!candidate.sexId" class="chosen-select form-control">
                  #set($sexes = $baseDataService.getSexes().children)
                  #foreach($sex in $sexes)
                    <option value="$sex.id">$sex.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">生日</label>
              <div class="col-xs-11">
                <div class="input-group">
                  <input class="form-control date-picker" name="birthday" value="$!candidate.birthday" type="text" data-date-format="yyyy-mm-dd" data-date-language="zh-CN">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                  </span>
                </div>
                <script type="text/javascript">
                  $('.date-picker').datepicker({
                    autoclose: true,
                    todayHighlight: true
                  }).next().on("click", function(){
                    $('.date-picker').focus();
                  });
                </script>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">手机<sup style="color:red">*</sup></label>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="mobile" name="mobile" value="$!candidate.mobile" placeholder="手机"  data-rule="手机:required;telephone"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">座机</label>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="telephone" name="telephone" value="$!candidate.telephone" placeholder="座机" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">邮箱</label>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="email" name="email" value="$!candidate.email" placeholder="邮箱"  data-rule="邮箱:email"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">其他联系方式</label>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="otherContact" name="otherContact" value="$!candidate.otherContact" placeholder="其他联系方式" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">学历</label>
              <div class="col-xs-11">
                <select id="degreeId" class="chosen-select form-control" name="degreeId" value="$!candidate.degreeId" >
                  #set($degrees = $baseDataService.getDegrees().children)
                  #foreach($degree in $degrees)
                    <option value="$degree.id">$degree.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">婚姻状况</label>
              <div class="col-xs-11">
                <select id="marital" class="chosen-select form-control" id="maritalId" name="maritalId" value="$!candidate.maritalId">
                  #set($maritals = $baseDataService.getMaritals().children)
                  #foreach($marital in $maritals)
                    <option value="$marital.id">$marital.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">所在地</label>
              <div class="col-xs-11">
                <select id="locationId" class="chosen-select form-control" name="locationId" value="$!candidate.locationId">
                  #set($cities = $baseDataService.getCities().children)
                  #foreach($city in $cities)
                    <option value="$city.id">$city.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">工作年限</label>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="workYears" name="workYears" value="$!candidate.workYears" placeholder="工作年限" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">有海外经历</label>
              <div class="col-xs-11">
                <label>
                  <input name="overseasExperience" type="radio" class="ace" value="true" #if($param['overseasExperience'] == true) checked #end>
                  <span class="lbl">是</span>
                </label>
                <label>
                  <input name="overseasExperience" type="radio" class="ace" value="false" #if($param['overseasExperience'] and $param['overseasExperience'] == false) checked #end>
                  <span class="lbl">否</span>
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">所在行业</label>
              <div class="col-xs-11">
                <select id="industryId" class="chosen-select form-control" name="industryId" value="$!candidate.industryId">
                  #set($industries = $baseDataService.getIndustries().children)
                  #foreach($industry in $industries)
                    <option value="$industry.id">$industry.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">当前公司</label>
              <div class="col-xs-11">
                <select id="currentCompanyId" class="chosen-select form-control" name="currentCompanyId" value="$!candidate.currentCompanyId">
                  #set($conpanies = $baseDataService.getConpanies().children)
                  #foreach($company in $conpanies)
                    <option value="$company.id">$company.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">当前职位</label>
              <div class="col-xs-11">
                <select id="currentPositionId" class="chosen-select form-control" name="currentPositionId" value="$!candidate.currentPositionId">
                  #set($positions = $baseDataService.getPositions().children)
                  #foreach($position in $positions)
                    <option value="$position.id">$position.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">当前年薪</label>
              <div class="col-xs-11">
                <input type="text" class="form-control" id="currentAnnualSalary" name="currentAnnualSalary" value="$!candidate.currentAnnualSalary"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">求职状态</label>
              <div class="col-xs-11">
                <select id="jobHuntingStatusId" class="chosen-select form-control" name="jobHuntingStatusId" value="$!candidate.jobHuntingStatusId">
                  #set($jobHuntingStatuses = $baseDataService.getJobHuntingStatuses().children)
                  #foreach($jobHuntingStatus in $jobHuntingStatuses)
                    <option value="$jobHuntingStatus.id">$jobHuntingStatus.label</option>
                  #end
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">其他信息</label>
              <div class="col-xs-11">
                <textarea type="text" class="form-control" id="other" name="other" value="$!candidate.other"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">备注</label>
              <div class="col-xs-11">
                <textarea type="text" class="form-control" id="remark" name="remark" value="$!candidate.remark"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-1 control-label no-padding-right">搜索关键字</label>
              <div class="col-xs-11">
                <textarea type="text" class="form-control" id="keyword" name="keyword" value="$!candidate.keyword"></textarea>
              </div>
            </div>

          </div>
        </div>

        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h4 class="widget-title">工作经历</h4>
            <div class="widget-toolbar">
              <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
              </a>
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body" style="display: block;padding: 15px">
            <table CLASS="table-striped table-responsive table-hover" width="100%">
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h4 class="widget-title">教育经历</h4>
            <div class="widget-toolbar">
              <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
              </a>
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body" style="display: block;padding: 15px">
            <table CLASS="table-striped table-responsive table-hover" width="100%">
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h4 class="widget-title">语言能力</h4>
            <div class="widget-toolbar">
              <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
              </a>
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body" style="display: block;padding: 15px">
            <table CLASS="table-striped table-responsive table-hover" width="100%">
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h4 class="widget-title">证书</h4>
            <div class="widget-toolbar">
              <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
              </a>
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body" style="display: block;padding: 15px">
            <table CLASS="table-striped table-responsive table-hover" width="100%">
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="widget-box ui-sortable-handle">
          <div class="widget-header">
            <h4 class="widget-title">项目经验</h4>
            <div class="widget-toolbar">
              <a href="#" data-action="fullscreen" class="orange2">
                <i class="ace-icon fa fa-expand"></i>
              </a>
              <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <div class="widget-body" style="display: block;padding: 15px">
            <table CLASS="table-striped table-responsive table-hover" width="100%">
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
              <tr>
                <td>2005-09 2016-10</td>
                <td>北京京东是科学技术</td>
                <td>软件开发工程师</td>
                <td>做了.........</td>
              </tr>
            </table>
          </div>

      </div>
        </div>
      <div style="padding-bottom: 50px"></div>
      <div id="actionBar" style="position:fixed;_position:absolute;bottom:0;width: 100%;background-color: lavender;text-align: center">
        <button class="btn btn-lg  btn-primary">
          <i class="fa fa-save bigger-110"></i>
          保存
        </button>
      </div>
    </div>
  </form>


<script type="text/javascript">
  $('.chosen-select').chosen({search_contains: true});
  $(".chosen-container").css("width", "100%");
  function renderFileInput(elementId) {
    $(elementId).ace_file_input({
      no_file:'空 ...',
      btn_choose:'选择简历文件(会覆盖已有简历)',
      btn_change:'选择简历文件(会覆盖已有简历)',
      droppable:false,
      onchange:null,
      thumbnail:false //| true | large
      //whitelist:'gif|png|jpg|jpeg'
      //blacklist:'exe|php'
      //onchange:''
      //
    });
  }
  renderFileInput("#resumeFile");

//  $(function() {
   /* var elm = $('#actionBar');
    $(elm).css("width", "100%");
    $(elm).css("z-index", "9999");
/!*    $.event.add(window, "scroll", function() {
      var p = $(window).scrollTop();
      $(elm).css("width", "100%");
      $(elm).css("z-index", "9999");
      if (p < $(document).height()- $(window).height())) {
        $(elm).css('position', 'fixed');
        $(elm).css('_position', 'absolute');
        $(elm).css('bottom','0');
      } else {
        $(elm).css('position', "static");
        $(elm).css('_position', null);
        $(elm).css('bottom', "0");
      }
    });*!/

  $(window).scroll(function(){
    var scrollTop = $(this).scrollTop();
    var scrollHeight = $(document).height();
    var windowHeight = $(this).height();
    if(scrollTop + windowHeight == scrollHeight){
      $(elm).css('position', 'fixed');
      $(elm).css('_position', 'absolute');
      $(elm).css('bottom','0');
    } else {
      $(elm).css('position', "static");
      $(elm).css('_position', null);
      $(elm).css('bottom', "0");
    }
  });
  });
*/
</script>