<div style="margin:2px">

<div class="row" style="margin: 5px">
  <form>
          <div class="col-xs-6">
            <div class="input-group">
              <div class="input-group-addon">关键字</div>
              <input type="text" class="form-control input-sm" name="destination"/>
            </div>
          </div>
          <div class="col-xs-6">
              <button class="btn btn-sm btn-primary" type="submit">搜索</button>
              <button class="btn btn-sm btn-primary" type="submit">新增</button>
          </div>
  </form>
</div>

<div class="row" style="margin: 5px">
  <form>
          <div class="col-xs-1">
            <span>范围</span>
          </div>
          <div class="col-xs-1">
            <div class="checkbox">
              <label>
                <input type="checkbox">全文
              </label>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="checkbox">
              <label>
                <input type="checkbox">名称
              </label>
            </div>
          </div>
  </form>
</div>

  <div id="candidateListDiv">
    <table id="candidateList"></table>
    <div id="candidateListPager"></div>
  </div>

  <script type="text/javascript">
    $("#candidateList").jqGrid({
      url: '/candidate/findByBean.do',
      mtype: "POST",
      datatype: "json",
      colNames: ['姓名', '公司',  '职位', '城市', '年薪', '年龄', '手机', '标签', '状态', "最近联系", "操作"],
      colModel: [
        {name: 'name', width: 150},
        {name: 'currentCompanyId', width: 150},
        {name: 'currentPositionId', width: 150},
        {name: 'locationId', width: 150},
        {name: 'currentAnnualSalary', width: 150},
        {name: 'birthday', width: 150},
        {name: 'mobile', width: 150},
        {name: 'tag', width: 150},
        {name: 'status', width: 150},
        {name: 'lastContact', width: 150},
        {name: 'isKey', width: 150, formatter: function(cellvalue, options, rowObject){
          return cellvalue ? "<i class='ace-icon glyphicon glyphicon-ok' style='color: green'></i>" : "<i class='ace-icon glyphicon glyphicon-remove' style='color: red'></i>";

        }}
      ],
      multiselect: true,
      rowNum: 10,
      rowList: [10, 30, 50, 100],
      pager: '#candidateListPager',
      shrinkToFit: true
    });
    function resizeCandidateList() {
      $("#candidateList").jqGrid('setGridWidth', $(window).width() - $("#candidateListDiv").position().left - 10);
      $("#candidateList").jqGrid('setGridHeight', $(window).height() - $("#candidateListDiv").position().top - 100);
    }
    resizeCandidateList();
    $(window).on('resize', function () {
      resizeCandidateList();
    });
  </script>

<script>
  $('#resumeList th input:checkbox').on('click' , function(){
    var that = this;
    $('#resumeList').find('tr > td:first-child input:checkbox')
        .each(function(){
          this.checked = that.checked;
          $(this).closest('tr').toggleClass('selected');
        });
  });
  $("#resumeEit").on(ace.click_event, function() {
    var checkedItems = [];
    $('#resumeList').find('tr > td:first-child input:checkbox')
        .each(function(){
          if(this.checked) {
            checkedItems.push(this.value);
          }
        });
    if(checkedItems.length == 1) {
      mainWorkPanelReload('/candidate/preInsertOrUpdate.do?id=' + checkedItems[0] + '&view=/candidate/resumeEdit.ftl');
    } else {
      bootbox.dialog({
        message: "<span class='bigger-110'>请选择一条记录</span>",
        buttons: {
          "click" : {
            "label" : "关闭",
            "className" : "btn-sm btn-primary"
            }
          }
      });
    }
  });

</script>
